
@font-face {
    font-family: 'LatoRegular';
    src: url('LatoRegular/LatoRegular.eot');
    src: url('LatoRegular/LatoRegular.eot') format('embedded-opentype'),
         url('LatoRegular/LatoRegular.woff2') format('woff2'),
         url('LatoRegular/LatoRegular.woff') format('woff'),
         url('LatoRegular/LatoRegular.ttf') format('truetype'),
         url('LatoRegular/LatoRegular.svg#LatoRegular') format('svg');
    font-weight: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: url('PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.otf')  format('opentype'),
	     url('PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff') format('woff'), url('PlayfairDisplay-BoldItalic.ttf')  format('truetype'),
	     url('PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

