/*
--------------------
ylw-about-dsc-sec-wrp
--------------------
*/
.ylw-about-dsc-sec-wrp{
	padding-top: 50px;
}
.ylw-about-dsc-wrp{
	padding-bottom: 50px;
	
}
.ylw-about-dsc{
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}
.ylw-about-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 17px;
	line-height: 26px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding-bottom: 40px;
}
.ylw-about-counter-wrp{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid#DCDCDC;
	padding-top: 55px;
}
.ylw-about-counter-title{
	font-size: 29px;
	line-height: 31px;
	color: #3E3935;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	margin-bottom: 55px;
	text-align: center;
	display: block;
}
.ylw-about-counter-inr{
	max-width: 780px;
	width: 100%;
	margin: 0 auto;
}
.ylw-about-counter-item {
    width: 26%;
    float: left;
    text-align: center;
    position: relative;
    padding: 0 25px;
}
.ylw-about-counter-inr:last-child .ylw-about-counter-item{
	width: 22%;
}
.ylw-about-counter-item:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	background:#DBDBDB;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ylw-about-counter-inr:last-of-type .ylw-about-counter-item:before{
	content: none;
}
.ylw-about-counter-item strong {
    display: inline-block;
    vertical-align: baseline;
    font-size: 73px;
    line-height: 25px;
    font-weight: 700;
    color: #3E3935;
    font-family: 'Playfair Display', serif;
}
.ylw-about-counter-item b{
    font-size: 30px;
    line-height: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}
.ylw-about-counter-item > span{
	font-size: 13px;
	line-height: 15px;
	font-weight: 700;
	color: #3E3935;
	display: block;
	padding-top: 22px;
	text-transform: uppercase;
}
/*
------------------------
 ylw-about-brand-sec-wrp
------------------------
*/
.ylw-about-brand-sec-wrp{
	padding-top: 100px;
	padding-bottom: 90px;
}
.ylw-about-brand-grid-wrp{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
}
.ylw-about-brand-grid-wrp ul li{
	padding: 0;
	display: inline-block;
	vertical-align: baseline;
}
.ylw-about-brand-grid-wrp ul li:before{
	content: none;
}
.ylw-about-brand-grid-wrp ul li:nth-child(2n+2) .ylw-about-brand-grid-img{
	float: right;
	margin-top: -25px;
	z-index: -1;
}
.ylw-about-brand-grid-img{
	width: 54%;
	float: left;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 420px !important;
	position: relative;
}
.ylw-about-brand-grid-img a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.ylw-about-brand-grid-dsc {
    width: 46%;
    float: right;
    font-size: 13px;
    padding: 80px 75px 50px 65px;
}
.ylw-about-brand-grid-title{
	font-size: 29px;
	line-height: 31px;
	color: #3E3935;
	font-weight: 400;
	margin-bottom: 35px;
	font-family: 'Playfair Display', serif;
}