


.ylw-blog-grid-sec{
	padding-top: 35px;
	padding-bottom: 120px;
}
.ylw-blog-grid-sec-inr ul{
	margin-left: -10px;
	margin-right: -10px;
}
.ylw-blog-grid-sec-inr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 80px;
}
.ylw-blog-grid-sec-inr ul li:nth-child(3n+1){
	clear: left;
}
.ylw-blog-grid-sec-inr ul li:last-child,
.ylw-blog-grid-sec-inr ul li:nth-child(10),
.ylw-blog-grid-sec-inr ul li:nth-child(11){
	padding-bottom: 40px;
}

.ylw-blog-grid-item-img{
	position: relative;
	overflow: hidden;
}
.ylw-blog-grid-item:hover .ylw-blog-grid-item-img img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.ylw-blog-grid-item:hover .ylw-blog-grid-item-des-inr:before{
	background: #FFC627;
}

.ylw-blog-grid-item-des{
	padding-left: 15px;
}
.ylw-blog-grid-item-des-inr{
	padding: 25px 18px 3px 15px;
	position: relative;
}
.ylw-blog-grid-item-des-inr:before{
	content: "";
	height: 197px;
	width: 1px;
	position: absolute;
	background: #808080;
	top: -30px;
	left: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.ylw-blog-grid-item-des-inr span{
	display: block;
	font-size: 11px;
	line-height: 14px;
	margin-bottom: 15px;
	font-weight: 400;
	text-transform: uppercase;
}
.ylw-blog-grid-item-des-title{
	display: block;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.ylw-blog-grid-item-des-title a{
	color: #000;
}
.ylw-blog-grid-item-des-title a:hover{
	color: #FFC627;
}
.ylw-blog-grid-item-des-inr p{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}



.ylw-blog-grid-load{
	text-align: center;
}
.ylw-blog-grid-load a{
	display: inline-block;
	height: 70px;
	width: 70px;
	border: 2px solid #FFC627;
	border-radius: 100%;
	position: relative;
}
.ylw-blog-grid-load a img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.ylw-blog-grid-load a:hover img{
	top: 60%;
}

.ylw-blog-grid-load span{
	display: block;
	font-size: 11px;
	color: #3E3935;
	line-height: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5px;
}


.ylw-blog-select{
	padding-bottom: 30px;
}
.blog-archive-date{
	float: left;
}
.ylw-blog-select-right{
	float: right;
	text-align: right;
}

.ylw-blog-grid-sec .bootstrap-select:not([class*=col-]):not([class*=form-control])
:not(.input-group-btn) {
    width: 188px;
}
.ylw-blog-grid-sec .bootstrap-select:not([class*=col-]):not([class*=form-control])
:not(.input-group-btn) {
    width: 188px;
}



.blog-archive-date{
	position: relative;
}
.blog-archive-date input{
	width: 188px;
	height: 35px;
	border: 1px solid #e0e0e0;
	padding-left: 10px;
	color: #3E3935;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
}
.blog-archive-date img{
	position: absolute;
	top: 50%;
	left: 160px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.ylw-blog-grid-sec{
	overflow: hidden;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.ylw-blog-grid-item-des-inr {
	    padding: 25px 10px 3px 15px;
	}
}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.ylw-blog-grid-sec-inr ul li {
	    padding-bottom: 70px;
	}
	.ylw-blog-grid-item-des-inr p {
	    line-height: 22px;
	}
	.ylw-blog-grid-sec {
	    padding-bottom: 110px;
	}
	.ylw-blog-grid-item-des-title {
	    font-size: 15px;
	}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ylw-blog-select {
	    padding-bottom: 25px;
	}
	.ylw-blog-grid-sec-inr ul li {
	    padding-bottom: 60px;
	}
	.ylw-blog-grid-item-des-inr {
	    padding: 20px 10px 3px 12px;
	}
	.ylw-blog-grid-item-des-inr span {
	    margin-bottom: 12px;
	}
	.ylw-blog-grid-item-des-title {
	    margin-bottom: 12px;
	}
	.ylw-blog-grid-item-des-inr p {
	    line-height: 20px;
	}
	.ylw-blog-grid-sec {
	    padding-bottom: 100px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ylw-blog-grid-sec-inr ul li {
	    width: 50%;
	    padding-bottom: 50px;
	}
	.ylw-blog-grid-sec-inr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.ylw-blog-grid-sec-inr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.ylw-blog-grid-item-des-title{
		font-size: 13px;
	}
	.ylw-blog-grid-sec {
	    padding-bottom: 90px;
	}
	.ylw-blog-grid-item-des-inr {
	    padding: 20px 0px 3px 12px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ylw-blog-grid-sec-inr ul li {
	    width: 100%;
	    padding-left: 0px;
    	padding-right: 0px;
    	padding-bottom: 40px;
	}
	.ylw-blog-grid-item{
		max-width: 400px;
	    width: 100%;
	    margin: 0 auto;
	}
	.ylw-blog-grid-item-des-inr:before {
	    height: 160px;
	}
	.ylw-blog-grid-sec {
	    padding-bottom: 70px;
	}

}

@media(max-width: 479px){
	.blog-archive-date input {
	    width: 130px;
	}
	.blog-archive-date img {
	    left: 103px;
	}
	.ylw-blog-grid-sec .bootstrap-select:not([class*=col-]):not([class*=form-control])
	:not(.input-group-btn) {
	    width: 130px;
	}
	.ylw-blog-grid-sec .bootstrap-select:not([class*=col-]):not([class*=form-control])
	:not(.input-group-btn) {
	    width: 130px;
	}
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	    width: 130px;
	}
	.ylw-blog-grid-item-des-inr:before {
	    height: 175px;
	}

}

@media(max-width: 359px){

}