/**
Commons
*/
*, *:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}

a, button, input{
	outline: 0;
	border: 0;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}

body {
    background: #fff;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/*font-family: 'Playfair Display', serif;*/
p{
	line-height: 26px;
	margin-bottom: 15px;
}
/*-- app gap use pattern --*/
/*data-xxs = 575
data-xs = 767
data-sm = 991
data-md = 1199
data-value = normal*/

/**
Containers fluid
*/
/*.container-fluid{
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 2%;
	margin-right: 2%;
  	width: auto;
}
.container-fluid .row{
	margin-left: -30px;
	margin-right: -30px;
}

.container-fluid .row .col-lg-1, .container-fluid .row .col-lg-10, .container-fluid .row .col-lg-11, .container-fluid .row .col-lg-12, .container-fluid .row .col-lg-2, .container-fluid .row .col-lg-3, .container-fluid .row .col-lg-4, .container-fluid .row .col-lg-5, .container-fluid .row .col-lg-6, .container-fluid .row .col-lg-7, .container-fluid .row .col-lg-8, .container-fluid .row .col-lg-9, 
.container-fluid .row .col-md-1, .container-fluid .row .col-md-10, .container-fluid .row .col-md-11, .container-fluid .row .col-md-12, .container-fluid .row .col-md-2, .container-fluid .row .col-md-3, .container-fluid .row .col-md-4, .container-fluid .row .col-md-5, .container-fluid .row .col-md-6, .container-fluid .row .col-md-7, .container-fluid .row .col-md-8, .container-fluid .row .col-md-9, 
.container-fluid .row .col-sm-1, .container-fluid .row .col-sm-10, .container-fluid .row .col-sm-11, .container-fluid .row .col-sm-12, .container-fluid .row .col-sm-2, .container-fluid .row .col-sm-3, .container-fluid .row .col-sm-4, .container-fluid .row .col-sm-5, .container-fluid .row .col-sm-6, .container-fluid .row .col-sm-7, .container-fluid .row .col-sm-8, .container-fluid .row .col-sm-9, 
.container-fluid .row .col-xs-1, .container-fluid .row .col-xs-10, .container-fluid .row .col-xs-11, .container-fluid .row .col-xs-12, .container-fluid .row .col-xs-2, .container-fluid .row .col-xs-3, .container-fluid .row .col-xs-4, .container-fluid .row .col-xs-5, .container-fluid .row .col-xs-6, .container-fluid .row .col-xs-7, .container-fluid .row .col-xs-8, .container-fluid .row .col-xs-9{
	padding-left: 30px;
	padding-right: 30px;
}*/


/**
Containers
*/
.container-xlg,
.container-lg,
.container-md,
.container-sm,
.container-xs{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:before,
.container-sm:after,
.container-xs:before,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	max-width: 1360px;
}
.container-lg{
	max-width: 1270px;
}
.container{
	max-width: 1040px;
	width: 100%;
}
.container-md{
	max-width: 1180px;
	width: 100%;
}

.container-sm{
	max-width: 805px;
}


.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.reset-list,
ol.reset-list,
ul.slick-dots,
.fl-pagi-pagi-ctlr ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list li,
ul.slick-dots li,
.fl-pagi-pagi-ctlr ul li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
ul.slick-dots li:before,
.fl-pagi-pagi-ctlr ul li:before{
	content: none!important;
}


.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


/**
Selects
*/
form .bootstrap-select{
    text-transform: uppercase;
	color: #710023;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	width: 100%!important;
}
form .bootstrap-select button{
	background: transparent;
	border: 0;
	color: #710023;
	text-transform: uppercase;
	font-size: 16px;
}
form .bootstrap-select .caret{
	border: 0;
}

.btn-light:not(:disabled):not(.disabled).active:focus, 
.btn-light:not(:disabled):not(.disabled):active:focus, 
.show>.btn-light.dropdown-toggle:focus{
	box-shadow: none!important;
}



.dropdown-toggle{
	position: relative;
	background: transparent!important;
	min-height: 40px;
}
.dropdown-toggle::after{
	content: none;
}
.dropdown-toggle::before{
	content: "\f107"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #1E1E1E;
    font-size: 22px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 15px;
    line-height: 15px;
}
.bootstrap-select.show .dropdown-toggle::before{
	content: "\f106"!important;
}

.btn-light.focus, 
.btn-light:focus{
	box-shadow: none!important;
}
form .show > .dropdown-toggle.btn-default:hover,
form .btn-default.active, form .btn-default:active, 
form .show > .dropdown-toggle.btn-default{
    color: #710023;
    background-color: transparent;
    border: 0;
}
form .btn-default:hover,
form .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default:active.focus, 
.btn-default:active:focus, .btn-default:active:hover, 
.show>.dropdown-toggle.btn-default.focus, 
.show>.dropdown-toggle.btn-default:focus,
.show>.dropdown-toggle.btn-default:hover{
    color: #710023;
    background-color: transparent;
    border: 0;
    outline: 0!important;
}
form .bootstrap-select .dropdown-toggle:focus{
	outline: 0!important;
}
form .dropdown-menu{
    margin: 0;
    background-color: #cabb9f;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 12px 0 10px;
}
form .dropdown-menu li{
    position: relative;
    margin-bottom: 6px;
}
form .dropdown-menu li a{
	padding-top: 6px;
	color: #fff;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{
	background-color: #F3BF00;
}

.bootstrap-select .dropdown-toggle:focus{
	outline: none!important;
}

.dropup .dropdown-toggle::after{
	content: none!important;
}
.dropdown-menu.show{
	width: 100%;
}



/*---*/

.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-bottom: 10px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 14px 42px;
	position: relative;
	line-height: 24px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background: url(../images/list-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 24px;
	height: 24px;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 25px;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 15px;
	line-height: 24px;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #C01718;
	font-weight: 700;
	margin-right: 17px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px;
}

/*slider pagi*/
ul.slick-dots li{
	width: 12px;
	height: 12px;
	padding: 0;
	margin: 0 5px;
	background: #D8D8D8;
	border-radius: 100% 100%;
}
ul.slick-dots li.slick-active{
	background: #FFC627;
}
ul.slick-dots li button{
	padding: 0;
	width: 100%;
	height: 100%;
}
ul.slick-dots li button:before{
	content: none;
}


@media(min-width: 1200px){
	ul.slick-dots li:hover{
		background: #FFC627;
	}
}


/*slider brk*/

.mainBnrSlider .mainBnrSlideItem,
.giftIdeasSecFeaImgSlider .gift-ideas-sec-fea-img-bx-item,
.hmNewAarrivalsSlider .hm-new-arrivals-item{
	display: none;
}
.mainBnrSlider .mainBnrSlideItem:first-child,
.giftIdeasSecFeaImgSlider .gift-ideas-sec-fea-img-bx-item:first-child,
.hmNewAarrivalsSlider .hm-new-arrivals-item:first-child{
	display: block;
}

.mainBnrSlider.slick-initialized .mainBnrSlideItem,
.giftIdeasSecFeaImgSlider.slick-initialized .gift-ideas-sec-fea-img-bx-item,
.hmNewAarrivalsSlider.slick-initialized .hm-new-arrivals-item{
	display: block;
}