/*
-------------------
contact-form-sec-wrp
-------------------
*/
.contact-form-sec-wrp{
	padding-top: 40px;
	padding-bottom: 180px;
}
.ylw-contact-frm-block{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
}
.ylw-contact-tp-wrp{
	position: relative;
}
.ylw-contact-title{
	margin: 0;
	text-align: center;
	margin-bottom: 40px;
	font-size: 29px;
	line-height: 31px;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	color: #3E3935;
	display: block;
}
.ylw-contact-tp-img{
	margin-left: 40px;
	height: 396px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.ylw-contact-tp-img img{
	width: 100%;
	display: none;
}
.ylw-contact-tp-dsc-lft{
	position: absolute;
	left: 0;
	top: 24px;
	bottom: 24px;
	z-index: 1;
	max-width: 435px;
	width: 100%;
	background:#ffc627;
}
.ylw-contact-tp-dsc{
	padding: 45px 40px;
}
.ylw-contact-tp-dsc i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 18px;
}
.ylw-contact-tp-dsc p{
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 25px;
}
.ylw-contact-tp-dsc h6{
	font-size: 15px;
	line-height: 17px;
	color: #3E3935;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	margin-bottom: 5px;
}
.ylw-contact-tp-dsc span{
	font-size: 15px;
	line-height: 17px;
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 5px;
}
.ylw-contact-form-btm-block{
	max-width: 715px;
	width: 100%;
	margin: 0 auto;
	padding-top: 60px;
}
.ylw-contact-info-lft{
	width: 48%;
	float: left;
	padding-right: 120px;
}
.ylw-contact-form-rgt{
	width: 52%;
	float: right;

}
.ylw-contact-info{
	padding-bottom: 25px;
}
.ylw-contact-info-title{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 10px;
	color: #3E3935;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	display: block;
}
.ylw-contact-info-title1{
	margin: 0;
	line-height: 18px;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #3E3935;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	display: block;
}
.ylw-contact-info a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	color: #3E3935;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-info a:nth-child(3){
	font-weight: 700;
}
.ylw-contact-info a:hover{
	color: #ffc627;
}

/*
---------------------
 Contact form
---------------------
*/
.ylw-contact-form-title{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #3E3935;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	display: block;
}
.ylw-contact-form-field{
	margin-bottom: 16px;
}
.ylw-contact-form-field input[type="text"],
.ylw-contact-form-field input[type="email"]{
	width: 100%;
	height: 55px;
	border:1px solid #dfdfdf;
	padding: 20px 25px;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 400;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-form-msg{
	padding-bottom: 12px;
}
.ylw-contact-form-msg textarea{
	width: 100%;
	height: 162px;
	border:1px solid #dfdfdf;
	padding: 22px 18px;
	resize: none;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 400;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-form-submit button,
.ylw-contact-form-submit input[type="submit"]{
	max-width: 145px;
	width: 100%;
	height: 55px;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 700;
	text-transform: uppercase;
	float: right;
	background:#ffc627;
	border:2px solid#ffc627;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
}
.ylw-contact-form-submit button:hover,
.ylw-contact-form-submit input[type="submit"]:hover{
	border-color: #ffc627;
	color: #ffc627;
	background:transparent;
}
.ylw-contact-form-msg textarea:focus,
.ylw-contact-form-field input[type="text"]:focus,
.ylw-contact-form-field input[type="email"]:focus{
	border-color: #bfbdbd;
}

.ylw-contact-form-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input::-moz-placeholder { /* Firefox 19+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input:-ms-input-placeholder { /* IE 10+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input:-moz-placeholder { /* Firefox 18- */
  color: #262321;
  opacity: 1;
}

.ylw-contact-form-msg textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea::-moz-placeholder { /* Firefox 19+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea:-ms-input-placeholder { /* IE 10+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea:-moz-placeholder { /* Firefox 18- */
  color: #262321;
  opacity: 1;
}
span.wpcf7-not-valid-tip {
    margin-top: 10px;
}
span.wpcf7-not-valid-tip {
    font-size: 13px!important;
    line-height: 1;
}
/*
-------------------
 Responsive Css
-------------------
*/

@media(max-width: 1199px){
   .ylw-contact-tp-dsc-lft {
	    position: absolute;
	    top: 50%;
	    bottom: auto;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	}
  .ylw-contact-tp-dsc {
	   padding: 43px 40px;
   }
   .contact-form-sec-wrp {
	    padding-bottom: 150px;
	}
}

@media(max-width: 991px){
	.ylw-contact-tp-img {
	    margin-left: 25px;
	}
  	.ylw-contact-tp-dsc {
	    padding: 20px 20px 20px 25px;
	}
	.ylw-contact-tp-dsc i {
	    padding-bottom: 10px;
	}
	.ylw-contact-tp-dsc p {
	    margin-bottom: 15px;
	}
	.contact-form-sec-wrp {
	    padding-bottom: 120px;
	}
}

@media(max-width: 767px){
  .ylw-contact-tp-dsc-lft {
	    position: static;
	    max-width: 100%;
	    width: 100%;
	    margin: 0 auto;
	    margin-top: -20px;
	    transform: none;
	    background:transparent;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.ylw-contact-tp-dsc{
		background: #ffc627;
		padding: 25px 20px 25px 25px;
	}
	.ylw-contact-tp-img {
	    margin-left: 0;
	    position: relative;
	    z-index: -1;
	    background: transparent !important;
	    height: auto !important;
	}
	.ylw-contact-tp-img img{
		display: block;
	}
	.ylw-contact-info-lft {
	    padding-right: 60px;
	}
	.ylw-contact-form-btm-block{
		padding-top: 50px;
	}
	.contact-form-sec-wrp {
	    padding-bottom: 80px;
	}
	.ylw-contact-title {
	    margin-bottom: 30px;
	    font-size: 27px;
	    line-height: 29px;
	}
}

@media(max-width: 575px){
  	.ylw-contact-info-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.ylw-contact-info {
	    padding-bottom: 20px;
	}
	.ylw-contact-form-rgt {
	    width: 100%;
	}
	.ylw-contact-form-field input[type="text"],
	.ylw-contact-form-field input[type="email"] {
	    height: 45px;
	    padding: 15px 25px;
	}
	.ylw-contact-form-msg textarea{
		height: 140px;
		padding-top: 17px;
	}
	.ylw-contact-form-submit button{
		height: 45px;
	}
}

@media(max-width: 479px){
	.ylw-contact-title {
	    font-size: 25px;
	    line-height: 27px;
	}

}

@media(max-width: 359px){

}
