/*
-------------------
contact-form-sec-wrp
-------------------
*/
.contact-form-sec-wrp{
	padding-top: 45px;
	padding-bottom: 180px;
}
.ylw-contact-frm-block{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
}
.ylw-contact-tp-wrp{
	position: relative;
}
.ylw-contact-head h3{
	margin: 0;
	text-align: center;
	margin-bottom: 40px;
}
.ylw-contact-tp-img{
	padding-left: 40px;
}
.ylw-contact-tp-img img{
	width: 100%;
}
.ylw-contact-tp-dsc{
	position: absolute;
	left: 0;
	top: 24px;
	bottom: 24px;
	z-index: 1;
	max-width: 435px;
	width: 100%;
	background:#ffc627;
	padding: 40px 40px;
}
.ylw-contact-tp-dsc i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 18px;
}
.ylw-contact-tp-dsc p{
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 25px;
}
.ylw-contact-tp-dsc h6{
	font-size: 15px;
	line-height: 17px;
	color: #3E3935;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	margin-bottom: 5px;
}
.ylw-contact-tp-dsc span{
	font-size: 15px;
	line-height: 17px;
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 5px;
}
.ylw-contact-form-btm-block{
	max-width: 715px;
	width: 100%;
	margin: 0 auto;
	padding-top: 60px;
}
.ylw-contact-info-lft{
	width: 48%;
	float: left;
	padding-right: 120px;
}
.ylw-contact-form-rgt{
	width: 52%;
	float: right;

}
.ylw-contact-info{
	padding-bottom: 25px;
}
.ylw-contact-info h4{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 10px;
}
.ylw-contact-info h5{
	margin: 0;
	line-height: 18px;
	margin-bottom: 5px;
}
.ylw-contact-info a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	color: #3E3935;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-info a:nth-child(3){
	font-weight: 700;
}
.ylw-contact-info a:hover{
	color: #ffc627;
}

/*
---------------------
 Contact form
---------------------
*/
.ylw-contact-form-wrp h4{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 15px;
}
.ylw-contact-form-field{
	margin-bottom: 15px;
}
.ylw-contact-form-field input[type="text"],
.ylw-contact-form-field input[type="email"]{
	width: 100%;
	height: 55px;
	border:1px solid #dfdfdf;
	padding: 20px 25px;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 400;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-form-msg{
	padding-bottom: 15px;
}
.ylw-contact-form-msg textarea{
	width: 100%;
	height: 162px;
	border:1px solid #dfdfdf;
	padding: 22px 18px;
	resize: none;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 400;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-contact-form-submit button{
	max-width: 145px;
	width: 100%;
	height: 55px;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	font-weight: 700;
	text-transform: uppercase;
	float: right;
	background:#ffc627;
	border:2px solid#ffc627;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
}
.ylw-contact-form-submit button:hover{
	border-color: #ffc627;
	color: #ffc627;
	background:transparent;
}
.ylw-contact-form-msg textarea:focus,
.ylw-contact-form-field input[type="text"]:focus,
.ylw-contact-form-field input[type="email"]:focus{
	border-color: #cecccc;
}

.ylw-contact-form-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input::-moz-placeholder { /* Firefox 19+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input:-ms-input-placeholder { /* IE 10+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-field input:-moz-placeholder { /* Firefox 18- */
  color: #262321;
  opacity: 1;
}

.ylw-contact-form-msg textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea::-moz-placeholder { /* Firefox 19+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea:-ms-input-placeholder { /* IE 10+ */
  color: #262321;
  opacity: 1;
}
.ylw-contact-form-msg textarea:-moz-placeholder { /* Firefox 18- */
  color: #262321;
  opacity: 1;
}
