/*
===================
 ylw-customer-care-sec-wrp
===================
*/
.ylw-customer-care-sec-wrp {
    padding-top: 40px;
    padding-bottom: 105px;
}
.ylw-customer-head{
	margin-bottom:60px;
	text-align: center;
}
.ylw-customer-title{
	color: #3E3935;
	margin: 0;
	font-size: 29px;
	line-height: 31px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #3E3935;
	display: block;
}

.policy-inner {
    padding-left: 122px;
    padding-right: 122px;
}
#items-content #sidebar{
	width: 17%;
	float: left;
}
#sidebar{
	position: absolute;
}
#items-content #sidebar .tcheadings{
	padding: 5px 0 20px;
}
.ylw-customer-menu-title{
	color:#000;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 17px;
	margin: 0;
	margin-bottom:20px;
	font-weight: 700;
	display: block;
	font-family: 'Playfair Display', serif;
}
.ylw-customer-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ylw-customer-menu ul li{
	padding:7px 0;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}
.ylw-customer-menu ul li:before{
	content: none;
}
.ylw-customer-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#000;
}
.ylw-customer-menu ul li a:hover{
	color:#ffc627;
}
.ylw-customer-menu ul li.active a,
.ylw-customer-menu ul li.current a{
	font-weight: 700;
}
.itemsipcontent{
	float: right;
	width:79%;
}
.item-dsce {
    padding-left: 20px;
}
.item-cont p{
	margin-bottom:32px;
}
.item-cont h5{
	color:#000;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-bottom:5px;
	font-family: 'Montserrat', sans-serif;
}

/*
-------------------
 Responsive Css
-------------------
*/

@media(max-width: 1199px){
	.ylw-customer-care-sec-wrp {
	    padding-bottom: 85px;
	}
	.policy-inner {
	    padding-left: 100px;
	    padding-right: 100px;
	}
	.ylw-customer-head {
	    margin-bottom: 50px;
	}
	.ylw-customer-faq-sec-wrp {
	    padding-bottom: 160px !important;
	}

}

@media(max-width: 991px){
	.ylw-customer-care-sec-wrp {
	    padding-bottom: 65px;
	}
  	.policy-inner {
	    padding-left: 60px;
	    padding-right: 60px;
	}
	.ylw-customer-head {
	    margin-bottom: 40px;
	}
	.faq-accordion-title:after{
		right: 10px;
	}
	.ylw-customer-faq-sec-wrp {
	    padding-bottom: 130px !important;
	}
  
}

@media(max-width: 767px){
	.ylw-customer-care-sec-wrp {
	    padding-bottom: 45px;
	}
	.ylw-customer-head {
	    margin-bottom: 30px;
	}
	#items-content #sidebar .tcheadings {
	    padding: 0px 0 20px;
	}
	.policy-inner {
	    padding-left: 0;
	    padding-right: 0;
	}
	#items-content #sidebar{
		width: 100%;
	}
	#sidebar {
	    position: static;
	    text-align: center;
	}
	.itemsipcontent {
	    width: 100%;
	}
	.item-dsce {
	    padding-left: 0;
	}
	.ylw-customer-menu-title{
		margin-bottom: 15px;
	}
	.ylw-customer-title {
	    font-size: 27px;
	    line-height: 29px;
	}
	.ylw-customer-faq-sec-wrp {
	    padding-bottom: 100px !important;
	}
	#sidebar .nav{
		display: block;
		text-align: center;
	}
}

@media(max-width: 575px){
  	.ylw-customer-title {
	    font-size: 25px;
	    line-height: 27px;
	}
	.faq-accordion-title{
	    padding-right: 40px !important;
	    padding-top: 30px !important;
	    padding-bottom: 25px !important;
	}
	.faq-product-dts-img{
		width: 100% !important;
	}
	.faq-product-dsc {
	    width: 100% !important;
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	    padding-top: 30px !important;
	}
	.ylw-customer-faq-sec-wrp {
	    padding-bottom: 70px !important;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}
