.footer-wrp{
  padding-bottom: 20px;
}
.ftr-col-main{
  padding-top: 85px;
  padding-bottom: 90px;
  background:#f5f4f2;
}
.ftr-col-main .ftr-col{
  float: left;
}
.ftr-col-1{
  width: 21%;
}
.ftr-col-2{
  width: 17%;
  padding-right: 20px;
}
.ftr-col-3{
  width: 17%;
  padding-right: 20px;
}
.ftr-col-4{
  width: 21%;
  padding-right: 20px;
}
.ftr-col-5{
  width: 24%;
  padding-right: 20px;
}
.ftr-logo{
  text-align: center;
  padding-top: 5px;
}
.ftr-logo a{
  display: inline-block;
  vertical-align: baseline;
  max-width: 255px;
  position: relative;
}
.ftr-socail-icon p{
  margin-bottom: 35px;
  line-height: 24px;
}
.ftr-col-1 img{
  width: 100%;
}
.ftr-col h6{
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3E3935;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.ftr-col span{
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
.ftr-col ul li{ 
  padding: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.ftr-col ul li:before{
  content: none;
}
.ftr-col ul li a{
  color: #3E3935;
  transition: all 0.2s;
  -ms-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.ftr-col ul li a:hover{
  color: #ffc627;

}
.ftr-socail-icon{
  padding-top: 25px;
}
.ftr-socail-icon h6{
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #3E3935;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.ftr-socail-icon ul li{
  float: left;
}
.ftr-socail-icon ul li a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #3E3935;
  padding: 0 15px;
}
.ftr-socail-icon ul li:first-child a{
  padding-left: 0;
}
.ftr-socail-icon ul li a:hover{
  color: #ffc627;
}
.ftr-col-5 > span{
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #3E3935;
  font-weight: 400;
  margin-bottom: 22px;
}
.ftr-col-5 a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  color: #3E3935;
  font-weight: 700;
  text-transform: uppercase;
  border:1px solid #cccccc;
  padding: 18px 15px;
}
.ftr-col-5 a:hover{
  border-color: #ffc627;
  background: #ffc627;
}

/*
--------------------
 Footer Top 
--------------------
*/
.footer-top-gallery-wrp{
  padding: 20px 0;
}
.footer-top-gallery-wrp ul li{
  float: left;
  width: 20%;
  padding: 0;
  padding-right: 1px;
}
.footer-top-gallery-wrp ul li:last-of-type{
  padding-right: 0;
}
.footer-top-gallery-wrp ul li:before{
  content: none;
}
.ftr-top-gallery-item{
  position: relative;
  height: 265px;
}
.ftr-tp-gallery-img{
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 100%;
}
.ftr-tp-gallery-img a{
  display: block;
}
.ftr-tp-gallery-dsc-hover{
    text-align: center;
    background: #FFC627;
    min-height: 265px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transform: scale3d(1,0,1);
   -ms-transform: scale3d(1,0,1);
   -webkit-transform: scale3d(1,0,1);
   transition: all 0.5s;
   -ms-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   display: flex;
   justify-content: center;
   align-items: center;
}
.visual .ftr-top-gallery-item .ftr-tp-gallery-dsc-hover{
  opacity: 1;
  transform: scale3d(1,1,1);
  -ms-transform: scale3d(1,1,1);
  -webkit-transform: scale3d(1,1,1);
}
.ftr-tp-gallery-dsc{
  padding: 15px 15px 35px 15px;
}
.ftr-tp-gallery-dsc a{
  font-size: 27px;
  line-height: 29px;
  color: #3E3935;
  display:block;
  text-decoration: none;
  padding-bottom:20px;
}
.ftr-tp-gallery-dsc > i {
    display: block;
    padding-bottom: 15px;
    max-width: 125px;
    width: 100%;
    margin: 0 auto;
}
.ftr-tp-gallery-dsc em{
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
  line-height: 27px;
  color: #3E3935;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid#3E3935;
  padding-top: 6px;
  font-family: 'PlayfairDisplay-BoldItalic';
}


/*
-------------------
 Responsive Css
-------------------
*/



@media(max-width: 1199px){
  .ftr-col-main {
      padding-top: 70px;
      padding-bottom: 75px;
  }
  .ftr-col-3,
  .ftr-col-4,
  .ftr-col-5,
  .ftr-col-2{
    padding-right: 10px;
  }
  .ftr-col-5 span br{
    display: none;
  }
  .footer-top-gallery-wrp {
      padding: 20px 0 0;
  }
  .footer-top-gallery-wrp ul li{
      width: 25%;
      padding-bottom: 20px;
  }
  .footer-top-gallery-wrp ul li:nth-child(4n+1){
    clear: left;
  }

}

@media(max-width: 991px){
  .ftr-col-main {
      padding-top: 60px;
      padding-bottom: 65px;
  }
  .ftr-col-1 {
      width: 100%;
      padding-bottom: 15px;
  }
  .ftr-col-3,
  .ftr-col-4,
  .ftr-col-5,
  .ftr-col-2{
      padding-right: 0;
      width: 100%;
      text-align: center;
      padding-top: 15px;
  }
  .ftr-logo {
      padding-top: 0;
      max-width: 115px;
      width: 100%;
      margin: 0 auto;
  }
  .ftr-socail-icon ul{
    display: table;
    margin: 0 auto;
  }
  .ftr-socail-icon ul li:first-child a{
      padding-left: 15px;
  }
  .ftr-socail-icon {
      padding-top: 15px;
  }
  .ftr-col h6 {
      margin-bottom: 15px;
  }
  .ftr-col-5 span{
    margin-bottom: 17px;
  }
  .footer-top-gallery-wrp ul li:nth-child(4n+1) {
      clear: initial;
  }
  .footer-top-gallery-wrp ul li:nth-child(3n+1) {
      clear: left;
  }
  .footer-top-gallery-wrp ul li{
    width: 33.3333%;
  }
  .ftr-col nav.nav{
    display: block;
  }
}

@media(max-width: 767px){
  .footer-top-gallery-wrp ul li{
      width: 33.3333%;
  }
  .footer-top-gallery-wrp ul li:nth-child(4n+1){
    clear: none;
  }
  .footer-top-gallery-wrp ul li:nth-child(3n+1){
    clear: left;
  }
  .ftr-tp-gallery-dsc em{
    font-size: 23px;
    line-height: 25px;
  }

  
}
@media(max-width: 639px){
  .footer-top-gallery-wrp ul li{
      width: 50%;
  }
  .footer-top-gallery-wrp ul li:nth-child(3n+1){
    clear: none;
  }
  .footer-top-gallery-wrp ul li:nth-child(2n+1){
    clear: left;
  }
}
@media(max-width: 575px){
  .ftr-col-main {
      padding: 50px 15px 55px;
  }
  .ftr-col ul li{
    margin-bottom: 10px;
  }
  
  
  .ftr-tp-gallery-dsc em{
    font-size: 21px;
    line-height: 23px;
  }
  .ftr-top-gallery-item {
      position: relative;
      height: 240px;
  }
}

@media(max-width: 479px){
  .ftr-tp-gallery-dsc em{
    font-size: 20px;
    line-height: 22px;
  }
  .ylw-modal-con-wrap .modal-login-form {
      padding: 60px 15px 70px !important;
  }
  .modal-login-form > span{
    margin-bottom: 30px !important;
  }
  .ftr-top-gallery-item {
      height: 215px;
  }
}

@media(max-width: 359px){
  .footer-top-gallery-wrp ul li{
      width: 100%;
  }
  .footer-top-gallery-wrp ul li:nth-child(2n+1){
    clear: none;
  }

}