header.header.has-banner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
header.header{
	padding: 18px 15px 0;
	color: #3E3935;

}
.header-inr{
	padding: 0 20px 0 25px;
	position: relative;
	max-width: 1330px;
	margin-left: auto;
	margin-right: auto;
}
.home-hdr .header-cntlr{
	padding-left: 21%;
}
.header-cntlr{
	display: flex;
	align-items: center;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
header.has-banner .has-bnr-logo{
	display: block;
}
header.has-banner .no-bnr-logo{
	display: none;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	padding: 35px 3px 25px;
	position: static;
	display: inline-block;
	vertical-align: baseline;
}
nav.main-nav > ul > li > a{
	color: inherit;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	display: block;
	position: relative;
}
.has-banner nav.main-nav > ul > li > a{
	color: #fff;
}

nav.main-nav > ul > li > a:after {
    /*border-bottom: 6px solid #FFC627;*/
    content: "";
    display: block;
    height: 6px;
    background: #FFC627;
    left: -1px;
    position: absolute;
    bottom: 0;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}

nav.main-nav > ul > li:hover > a:after {
    transform: scale(1, 1);
}
nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

nav.main-nav > ul > li.menu-item-has-children:hover .mega-menu-cntlr{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
.mega-menu-cntlr{
	transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    z-index: 100;
    position: absolute;
	top: 100%;
}

.hdr-humbergur-btn{
	width: 26px;
	height: 20px;
	position: relative;
	cursor: pointer;
	display: none;
}
.hdr-humbergur-btn span{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #3E3935;
	height: 2px;
	-webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.hdr-humbergur-btn span:nth-child(1){
	top: 0;
}
.hdr-humbergur-btn span:nth-child(2){
	top: 8px;
}
.hdr-humbergur-btn span:nth-child(3){
	top: 16px;
}
.has-banner .hdr-humbergur-btn span{
	background: #FFC627;
}

.hdr-search-btn{
	color: #fff;
	cursor: pointer;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-rgt-items{
	display: flex;
	align-items: center;
}
.hdr-account{
	color: #fff;
	margin-right: 0;
	position: relative;
	
}
.hdr-account > span{
	padding-right: 12px;
	position: relative;
	font-size: 12px;
	line-height: 1;
	font-weight: 600;
	display: block;
	letter-spacing: 1px;
	cursor: pointer;
}
.hdr-account > span:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/polygon-down-white.png);
	width: 6px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: center center;

}
.hdr-search-btn{
	margin-right: 30px;
}
.hdr-mini-cart-btn{
	margin-right: 40px;
	position: relative;
}
.hdr-mini-cart-btn:after {
    content: "";
    position: absolute;
    top: 2px;
    right: -22px;
    width: 1px;
    background: #988087;
    height: 18px;
}

.hdr-mini-cart-btn a{
	color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin-top: -2px;
}
.hdr-mini-cart-btn a span {
    position: absolute;
    top: -4px;
    right: -5px;
    font-size: 9px;
    line-height: 1;
    font-weight: 700;
}
.hdr-mid{
	margin-left: auto;
	margin-right: auto;
}

.hdr-account ul{
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #E9EAEF;
    border-radius: 5px;
    padding: 25px 15px 0;
    margin-top: 5px;
    z-index: 15;
    display: none;
    width: 125px;
}

.hdr-account ul li {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 25px;
}
.hdr-account ul li a {
    color: #000;
}
.hdr-account ul li a:hover,
.hdr-account ul li a:hover i{
	color: #FFC627;
}
.hdr-account ul li i{
	color: #000;
	position: relative;
	top: 1px;
}

.page-hdr .header-inr{
	background: #F5F4F2;
}
.page-hdr .hdr-mini-cart-btn a span,
.page-hdr .hdr-account > span{
	color: #3E3935;
}

.page-hdr .hdr-account > span:after{
	background: url(../images/polygon-down-dark.png);
}

/* header search popup */

.header-popups{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	background: #FFC627;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.hdrpopups-inr{
	width: 100%;
	height: 100%;
}
.opacity-1{
	opacity: 1;
	z-index: 9999999999999;
}

.pop-up-nav{
	padding-top: 25px;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
}

.popup-cross{
	float: right;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	position: relative;
	right: 42px;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.popup-cross:hover span{
	background: #eeeced;
}
.popup-cross span {
	width: 30px;
	height: 3px;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}


.popup-cross span:first-child {
	top: 12px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup-cross span:last-child {
	top: 12px;
	-ms-transform: rotate(130deg);
	-webkit-transform: rotate(130deg);
	transform: rotate(130deg);
}

.header-popup-search{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 102;
}


.search-form {
	position: relative;
}
.header-popup-search{
	max-width: 810px;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.search-form form {
	position: relative;
	padding: 0 25px;
}
.search-form .form-group {
	position: relative;
}
.form-group {
	margin-bottom: 15px;
}


.search-form .form-label {
	position: absolute;
	left: 20px;
	top: 15px;
	color: #3E3935;
	z-index: 10;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
	font-size: 18px;
	line-height: 1px;
	cursor: auto;
	font-weight: 700;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.search-form .form-label span{
	font-family: 'Roboto-Bold';
}
.search-form .focused .form-label {
  transform: translateY(-125%);
  font-size: 20px;
  left: 0;
}
.search-form input[type="text"]:focus + .placeholder, 
.search-form input[data-empty="false"] + label.placeholder {
	top: -32px;
	left: 0;
	font-size: 20px;
}

.search-form form input[type="text"] {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #3E3935;
	outline: none;
	padding: 0px 55px 10px 20px;
	height: 40px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	color: #3E3935;
}
 


.search-submit-btn-cnltr{
	height: 23px;
	width: 23px;
	right: 17px;
	top: 8px;
	position: absolute;
	background-image: url(../images/search-ico2.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100;
	
}
.search-submit-btn{
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 0;	
	cursor: pointer;
}
.search-submit-btn-cnltr:hover{
	opacity: .8;
}




/*mega menu*/
.mega-menu-cntlr{
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	right: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.mega-menu-inr{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 1025px;
	width: 100%;
	padding: ;
	min-height: 430px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(191,189,189,1);
	-moz-box-shadow: 0px 5px 8px 0px rgba(191,189,189,1);
	box-shadow: 0px 5px 8px 0px rgba(191,189,189,1);
}
.mega-menu-inr:after,
.mega-menu-inr:before,
.mega-menu-cols:after,
.mega-menu-cols:before{
	content: "";
	display: block;
	clear: both;
}

.mega-menu-cols{
	float: left;
	width: 65%;
}


.mega-menu-cols{
	padding: 50px 0 0 70px;
}
.mega-menu-col{
	float: left;
	width: 33.3333%;
	padding: 0 10px 0 0;
}
.mega-menu-col > strong{
	display: block;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.mega-menu-col ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
.mega-menu-col ul li{
	padding: 0 0 13px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
}
.mega-menu-col ul li a{
	color: #3E3935;
}
.mega-menu-col ul li a:hover{
	color: #FF278B;
}
.mega-menu-col > span a{
	display: inline-block;
	vertical-align: baseline;
	color: #FF278B;
	font-size: 12px;
	line-height: 1;
	font-weight: 700;
}
.mega-menu-col > span a:hover{
	color: #3E3935;
}

.mega-menu-fea-img{
	position: absolute;
	width: 35%;
	right: 0;
	top: 0;
	bottom: 0;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.mega-menu-fea-img div{
	width: 100%;
	height: 100%;
}
.mega-menu-fea-img div strong{
	position: absolute;
	left: 20px;
	bottom: 25px;
}

.mega-menu-fea-img strong{
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 41px;
}


.xs-nav-cntlr{
	opacity: 0;
	z-index: -9999;
	position: absolute;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){


	.mega-menu-cols {
	    padding: 30px 0 0 30px;
	}
	.mega-menu-inr{
		min-height: 365px;
	}
	.mega-menu-fea-img strong {
	    font-size: 35px;
	    line-height: 36px;
	}
	.hdr-humbergur-btn{
		display: block;
	}
	.hdr-mid,
	.hdr-account{
		display: none;
	}
	.hdr-mini-cart-btn{
		margin-right: 0;
	}
	.hdr-mini-cart-btn:after{
		content: none;
	}
	.header-cntlr{
		min-height: 75px;
		position: relative;
	}
	.logo{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}



	/*-----xs menu */
	.menu-expend span:nth-child(1) {
	    top: 45%;
	    transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    margin-bottom: 0;
	    width: 100%;
	}
	.menu-expend span:nth-child(2) {
	    opacity: 0;
	}
	.menu-expend span:nth-child(3) {
	    top: 9px;
	    transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    width: 100%;
	}
	.menu-closebtn {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    clear: both;
	    max-width: 100%;
	    top: 20px;
	    right: 20px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		z-index: 999999;
	}
	.menu-closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 4px;
	    width: 100%;
	    background: #FF278B;
	    top: 13px;
	    display: block;
	}
	.menu-closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	.menu-closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
	body.active-scroll-off{
		overflow: hidden!important;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}

	.xs-nav-cntlr{
	    position: fixed;
	    top: 0;
	    left: -250px;
	    bottom: 0;
	    background: #fff;
	    color: #000;
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 350px;
	    width: 100%;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.xs-nav-cntlr.opacity-1 {
	    left: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	.xs-nav-inr{
		position: relative;
		overflow-y: scroll;
		padding: 40px 20px 50px;
		height: 100%;
		width: 100%;
	}
	.xs-main-nav ul li{
		padding: 10px 5px;
		border-bottom: 1px solid #ccc;
	}
	.xs-main-nav ul li a{
		font-size: 16px;
		color: #000;
		display: block;
		position: relative;
	}
	.xs-main-nav > ul > li > a{
		text-transform: uppercase;
	}
	.xs-nav-cntlr .sub-menu{
		display: none;
		padding-top: 10px;
	}
	.xs-main-nav > ul > li > ul li a{
		font-size: 14px;
	}
	.xs-main-nav > ul > li > ul > li{
		text-transform: capitalize;
	}
	.xs-main-nav > ul > li > ul li:last-child{
		border-bottom: none;
	}

	li.menu-item-has-children > a:after{
		content: "\f105"!important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		text-decoration: inherit;
		color: #1E1E1E;
		font-size: 22px;
		padding-right: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		right: 15px;
		line-height: 15px;
	}
	li.menu-item-has-children > a.sub-menu-active:after{
		content: "\f107"!important;
	}
	.xs-other-nav{
		margin-top: 25px;
		padding-top: 20px;
		text-align: center;
	}
	.xs-other-nav ul li a{
		color: #000;
		font-size: 14px;
		position: relative;
		display: block;

	}
	.xs-other-nav ul{
		padding: 0;
	}
	.xs-other-nav > ul{
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}
	.xs-other-nav > ul > li > a{
		text-transform: uppercase;
	}


}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	.header-inr{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hdr-search-btn {
	    margin-right: 14px;
	}
	.logo a{
		max-width: 120px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}


