.main-banner{
	margin-top: 20px;
	position: relative;
	max-width: 1330px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main-bnr-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 20;
}
.main-bnr-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.mainBnrSlider{
	margin: 0!important;
}
.mainBnrSlider ul.slick-dots{
	bottom: 25px;
}

.mainBnrSlideItem img{
	width: 100%;
}
.hm-children-clothes-sec-hdr{
	padding: 40px 0;
	text-align: center;
}
.hmccs-hdr-title,
.hnash-title,
.hausc-title,
.hojs-tilte{
	display: block;
	font-weight: 700;
	font-style: italic;
	margin: 0;
	font-size: 29px;
	color: #3E3935;
	text-align: center;
}
.hm-about-us-sec-col-2{
	padding-right: 15px;
}
.hm-about-us-sec-col-2 .hausc-title{
	text-align: left;
}
.hm-children-clothes-sec-grds ul{
	margin: 0 -13px;
}
.hm-children-clothes-sec-grds ul li{
	float: left;
	width: 33.3333%;
	padding: 0 13px 26px;
}
.hm-children-clothes-fea-box{
	position: relative;
	height: 340px;
	overflow: hidden;
	

}
.hm-children-clothes-fea-box:hover .hm-children-clothes-fea-box-des{
	background: rgba(62,57,53,.8);
}
.hm-children-clothes-fea-box-des{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	text-align: center;
}
.hm-children-clothes-fea-box-img{


}

.bg-inline{
	width: 100%;
	height: 100%;
	background-position: center center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

.hccfbd-title{
	display: block;
	color: #fff;
	font-size: 35px;
	line-height: 41px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	margin: 0;
}
.hover-after{
	transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	opacity: 0;
}
.hover-before{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	opacity: 0;
}
.children-option{
	display: table;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	justify-content: center;
	padding-top: 55px;
}
.hm-children-clothes-fea-box .hm-children-clothes-fea-box-des .hover-before{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
.hm-children-clothes-fea-box:hover .hm-children-clothes-fea-box-des .hover-before{
	transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    opacity: 1;
    z-index: 2;
}
.hm-children-clothes-fea-box:hover .hover-after{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
    z-index: 3;
}
.children-option span{
	padding: 0 12px;
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	font-weight: 700;
	position: relative;

}
.children-option span:not(:last-child):after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
	width: 1px;
	height: 16px;
	background: #fff;

}
.children-option a{
	color: #fff;
	text-transform: uppercase;
	padding: 5px 12px 4px;
}
.children-option a:hover{
	background: #FFC627;
	color: #3E3935;
}
.hm-about-us-sec-inr{
	background: #FFC627;
	color: #3E3935;
	padding: 115px 0 110px;
}
.hm-about-us-sec-cntlr{
	max-width: 714px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.hm-about-us-sec-col-1{
	margin-right: 40px;
	max-width: 191px;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
}
.hausc-title{
	margin-bottom: 15px;	
}

.hausc-title-2{
	display: block;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.hm-about-us-sec-col-2 p{
	font-size: 23px;
	line-height: 29px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin-bottom: 25px;
}
a.transparent-btn{
	border: 1px solid #3E3935;
	width: 177px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	line-height: 100%;
	text-transform: uppercase;
	color: #3E3935;
	font-weight: 700;
	letter-spacing: 1px;
}

.hm-new-arrivals-sec{
	padding: 80px 0 95px 0;
}
.hm-new-arrivals-sec-hdr{
	text-align: center;
	padding-bottom: 20px;
}

.fl-prv-nxt{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fl-prev,
.fl-next{
	width: 41px;
	height: 20px;
	margin: 0 20px;
	cursor: pointer;
}
.fl-prev{
	background: url(../images/prev-gray.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.fl-next{
	background: url(../images/next-gray.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.fl-prev:hover{
	background: url(../images/prev-gray-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;	
}
.fl-next:hover{
	background: url(../images/next-gray-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}


.hm-new-arrivals-sec-hdr .hnash-title{
	margin-bottom: 17px;
}

.hmNewAarrivalsSlider{
	overflow: hidden;
	margin: 0 -9px;
}
.hm-new-arrivals-item{
	padding: 0 9px;
}
.fl-product-item{
	position: relative;
}
.fl-product-item-fea-img{
	position: relative;
}
.fl-product-item-fea-img a{
	display: block;
	overflow: hidden;
}
.fl-product-item-fea-img img{
	width: 100%;
}

.product-overlay-icons{
	position: absolute;
	right: 7px;
	bottom: 0;
	width: 40px;
	opacity: 0;
}
.fl-product-item:hover .product-overlay-icons{
	bottom: 10px;
	opacity: 1;
}
.product-overlay-icons a,
.product-overlay-icons .product-overlay-icon-heart{
	width: 40px;
	height: 40px;
	background: #FFC627;
	color: #3E3935;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	margin-top: 7px;
	border-radius: 100% 100%;
}
.fl-product-item-des{
	padding: 20px 15px 20px 0;
}
.product-overlay-icon-search i{
	font-weight: 600;
}
.fl-product-variable-title{
	display: block;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	font-weight: 500;
}
.fl-product-title{
	display: block;
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 15px 0;
	font-weight: 700;
	color: #3E3935;
	font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.fl-product-title a{
	color: inherit;
}
.fl-product-box-prices{
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color: #3E3935;
}

.fl-product-old-price{
	margin-right: 5px;
}
.fl-product-old-price del{
	text-decoration: line-through;
	font-weight: 500;
	padding-right: 5px;
	display: inline-block;
	vertical-align: baseline;
}
.hm-new-arrivals-sec .gray-transparent-btn{
	padding-top: 10px;
}
.gray-transparent-btn a{
    border: 1px solid #CCCCCC;
    max-width: 250px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3E3935;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

.gift-ideas-sec{
	background: url(../images/gift-ideas-sec-bg.jpg);
	padding: 45px 0 0;
	margin-bottom: 120px;
	max-width: 1330px;
	margin-left: auto;
	margin-right: auto;
}

.gift-ideas-sec-cntlr{
	position: relative;
}
.gift-ideas-sec-lft{
	float: left;
	width: 50%;
	padding: 95px 30px 113px 30px;
}
.gift-ideas-sec-lft-top-con{
	max-width: 168px;
	width: 100%;
}
.gift-ideas-sec-lft-top-con div{
	padding-bottom: 20px;
}
.gift-ideas-title{
	display: block;
	font-size: 27px;
	line-height: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   margin-bottom: 25px;
   text-transform: uppercase;
}
.gift-ideas-title span{
	display: block;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-transform: initial;
	font-weight: 400;
	text-align: center;
	padding-top: 25px;
}
.gift-ideas-sec-lft-top-con-cntlr{
	display: flex;
}
.gift-ideas-sec-lft-top-con-rgt{
	padding-left: 35px;
	margin-top: -5px;
	padding-right: 40px;
}
.gift-ideas-sec-lft-top-con-rgt p{
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
.ift-ideas-sec-lft-btns ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px 17px 0;
}
.ift-ideas-sec-lft-btns ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 154px;
	height: 50px;
	font-size: 11px;
	line-height: 100%;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #CCCCCC;
	color: #3E3935;
}
.ift-ideas-sec-lft-btns ul li a:hover,
.gray-transparent-btn a:hover,
li.fl-tab-item a.current{
	background: #FFC627;
	border-color: #FFC627;
}
li.fl-tab-item a{
	cursor: pointer;
}

.ylw-slide-tab-con{
	display: none;
}
.ylw-slide-tab-con.current{
	display: block;
}

.gift-ideas-sec-rgt{
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px;
	padding-bottom: 5px;
	width: 45%;
	max-width: 555px;
	-webkit-box-shadow: 1px 1px 11px 0px rgba(209,205,209,1);
	-moz-box-shadow: 1px 1px 11px 0px rgba(209,205,209,1);
	box-shadow: 1px 1px 11px 0px rgba(209,205,209,1);
	background: #fff;
	height: 565px;
}

.gift-ideas-sec-fea-img-bx-item{
	position: relative;
	width: 100%;
	height: 100%;
}
.giftIdeasSecFeaImgSlider{
	margin: 0!important;
}
.gift-ideas-sec-fea-img-bx{
	width: 100%;
	
}
.gift-ideas-sec-fea-img-bx-item{
	width: 100%;
	height: 551px;
}
.gift-ideas-sec-fea-img-bx-item strong{
	position: absolute;
	right: 25px;
	bottom: 35px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 29px;
	line-height: 34px;
	color: #3E3935;
	text-align: right;
	font-style: italic;
}

.giftIdeasSecFeaImgSlider ul.slick-dots{
	padding: 10px 30px;
	background: #fff;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: auto;
	z-index: 12;
	display: flex;
	bottom: -14px;
}

.hm-happy-easter-sec-hdr{
	position: relative;
}
.hm-happy-easter-sec-hdr-img{
	position: absolute;
	left: 30px;
	top: 10px;
	max-width: 342px;
	z-index: 1;
}
.hm-happy-easter-sec-hdr-inr{
	position: relative;
	z-index: 2;
	background: rgba(56,121,161,.7);
	padding: 70px 0 118px;
}
.hm-happy-easter-sec-hdr-cntlr{
	max-width: 460px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}
.hhesh-title{
	display: block;
	color: #fff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin: 0 0 18px 0;
}
.hm-happy-easter-sec-hdr-cntlr p{
	font-size: 16px;
	line-height: 26px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
.hm-happy-easter-products-cntlr{
	background: #fff;
	padding: 40px 35px 80px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: -70px;
	position: relative;
	z-index: 4;
}
.hm-happy-easter-products-cntlr ul{
	margin: 0 -15px;
}
.hm-happy-easter-products-cntlr ul li{
	float: left;
	width: 25%;
	padding: 0 15px 30px;
}
.hm-happy-easter-products-cntlr ul li:nth-child(4n+1){
	clear: left;
}
.hm-press-sec{
	margin-bottom: 20px;
	position: relative;
	max-width: 1360px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.logo-black-4{
	position: absolute;
	right: 52px;
	bottom: 55px;
	max-width: 170px;
}
.hm-press-sec-cntlr{
	background: #E3A155;
	padding: 45px 0 10px;
}
.press-sec-fea-img{
	float: left;
	width: 50%;
	text-align: right;
}
.press-sec-des{
	float: left;
	width: 50%;
	color: #fff;
	padding: 15px 15px 0 40px;
}
.press-sec-des-inr{
	max-width: 450px;
	width: 100%;
}

.press-sec-des-title{
	color: #fff;
	display: block;
	font-size: 35px;
	line-height: 40px;
	font-weight: 700;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	margin: 0 0 15px 0;
}
.press-sec-des-sub-title{
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	display: block;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 32px 0;
}
.press-sec-des p{
	font-size: 20px;
	line-height: 26px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin-bottom: 60px;
}

a.white-transparent-btn{
	border: 1px solid #fff;
    max-width: 250px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}


.hm-our-journal-sec-cntlr{
	background: #F5F4F2;
	padding: 45px 0 70px 0;
}
.hm-our-journal-sec-grd-cntlr{
	padding-left: 45px;
	padding-right: 45px;
}
.hm-our-journal-sec-grd-cntlr ul{
	margin: 0 -10px;
}
.hm-our-journal-sec-grd-cntlr ul li{
	float: left;
	width: 33.3333%;
	padding: 0 10px 20px;
}
.fl-blog-item:hover .fl-blog-item-des:before{
	background: #FFC627;
}
.fl-blog-item-fea-img{
	overflow: hidden;
}
.fl-blog-item-fea-img a{
	display: block;
}
.fl-blog-item-fea-img a img{
	width: 100%;
}
.hm-our-journal-sec-grd-cntlr ul li:nth-child(3n+1){
	clear: left;
}

.fl-blog-item-des{
	padding: 30px 20px 5px 30px;
	position: relative;
	color: #000;
}
.fl-blog-item-des:before{
	content: "";
	position: absolute;
	left: 15px;
	top: -30px;
	bottom: 0;
	width: 1px;
	background: #000000;
	opacity: .5;
}
.hm-our-journal-sec-hdr{
	padding-bottom: 50px;
}

.fl-blog-item-des strong{
	display: block;
	font-size: 11px;
	font-weight: 400;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.fl-blog-item-des-title{
	display: block;
	margin: 0 0 10px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}
.fl-blog-item-des-title a{
	color: #000;
}
.fl-blog-item-des p{
	font-size: 14px;
	line-height: 21px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
.hm-our-journal-more-btn {
	padding-top: 30px;
}
.hmNewAarrivalsSlider .hm-new-arrivals-item{
	width: 33.3333%;
}





@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.children-option{
		padding-top: 30px;
	}
	.hccfbd-title {
	    font-size: 30px;
	    line-height: 35px;
	}
	.hm-children-clothes-fea-box{
		height: 300px;
	}
	.gift-ideas-sec-rgt{
		position: static;
		float: right;
		width: 50%;
	}
	.gift-ideas-sec-cntlr{
		padding-bottom: 45px;
	}
	.gift-ideas-sec-lft{
		padding-bottom: 0;
		padding-left: 0;
	}
	.gift-ideas-sec-fea-img-bx-item strong {
	    font-size: 22px;
	    line-height: 27px;
	}
	.gift-ideas-title {
	    font-size: 24px;
	    line-height: 30px;
	}
	.gift-ideas-sec{
		margin-bottom: 50px;
	}
	.hm-happy-easter-products-cntlr ul {
	    margin: 0 -10px;
	}
	.hm-happy-easter-products-cntlr ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.hm-happy-easter-products-cntlr{
		padding: 25px 25px 80px;
	}
	.press-sec-des p {
	    font-size: 18px;
	    line-height: 25px;
	}
	.hm-press-sec-cntlr{
		padding-bottom: 30px;
	}
}

@media(max-width: 991px){
	.main-bnr-logo a{
		max-width: 150px;
	}
	.main-bnr-logo a img{
		width: 100%;
	}
	.hmccs-hdr-title, .hnash-title, .hausc-title, .hojs-tilte{
		font-size: 27px;
	}
	.hm-children-clothes-sec-grds ul{
		margin-left: -10px;
		margin-right: -10px;
	}
	.hm-children-clothes-sec-grds ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.hm-children-clothes-fea-box {
	    height: 280px;
	}
	.hm-new-arrivals-sec {
	    padding: 70px 0 85px 0;
	}
	.hm-about-us-sec-inr{
		padding: 100px 0 95px
	}
	.gift-ideas-sec-lft{
		width: 100%;
		float: none;
		padding-right: 0;
		padding-left: 0;
	}
	.gift-ideas-sec-rgt{
		max-width: 480px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.gift-ideas-sec-lft-top-con-rgt{
		padding-right: 150px;
	}
	.ift-ideas-sec-lft-btns ul li:last-child{
		padding-right: 0;
	}
	.hm-happy-easter-sec-hdr-img{
		max-width: 330px;
	}
	.hm-happy-easter-products-cntlr ul li{
		width: 50%;
	}
	.hm-happy-easter-products-cntlr ul li:nth-child(4n+1){
		clear: initial;
	}
	.hm-happy-easter-products-cntlr ul li:nth-child(2n+1){
		clear: initial;
	}
	.hm-press-sec-cntlr{
		padding-bottom: 107px;
	}
	.hm-our-journal-sec-grd-cntlr {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.fl-blog-item-des{
		padding-right: 15px;
		padding-left: 25px;
	}
	.fl-blog-item-des:before{
		left: 10px;
	}
	.hm-our-journal-sec-hdr {
	    padding-bottom: 35px;
	}
}

@media(max-width: 767px){
	.main-bnr-logo a{
		max-width: 100px;
	}
	.hm-children-clothes-sec-grds ul{
		margin-left: -7px;
		margin-right: -7px;
	}
	.hm-children-clothes-sec-grds ul li{
		padding-left: 7px;
		padding-right: 7px;
	}
	.hccfbd-title {
	    font-size: 25px;
	    line-height: 28px;
	}
	.hm-children-clothes-fea-box {
	    height: 250px;
	}

	.hm-about-us-sec-col-2 p{
		font-size: 21px;
	}
	.gift-ideas-sec-lft-top-con-rgt{
		padding-right: 0;
	}
	.gift-ideas-sec-lft{
		padding-top: 75px;
	}
	.product-overlay-icons a,
	.product-overlay-icons .product-overlay-icon-heart{
		font-size: 17px;
		width: 35px;
		height: 35px;
	}
	.press-sec-fea-img {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.press-sec-des{
		width: 100%;
	}
	.logo-black-4 {
	    right: 31px;
	    bottom: 34px;
	    max-width: 150px;
	}
	.press-sec-des{
		padding-left: 15px;
	}
	.hm-our-journal-sec-grd-cntlr ul li:nth-child(3n+1) {
	    clear: initial;
	}
	.hm-our-journal-sec-grd-cntlr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.hm-our-journal-sec-grd-cntlr ul li{
		width: 50%;
		margin-bottom: 25px;
	}
	.fl-blog-item-des{
		padding-top: 25px;
	}
}

@media(max-width: 639px){
	.hm-children-clothes-sec-grds ul li{
		width: 100%;
		padding: 0 0 25px;
	}
	.hm-children-clothes-fea-box{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
}



@media(max-width: 575px){
	.hmccs-hdr-title, .hnash-title, .hausc-title, .hojs-tilte{
		font-size: 25px;
	}
	.hm-about-us-sec-cntlr{
		display: block;
		text-align: center;
	}
	.hm-about-us-sec-col-1{
		margin-bottom: 40px;
	}
	.hm-about-us-section a.transparent-btn,
	.hm-about-us-sec-col-1{
		margin-left: auto;
		margin-right: auto;
	}
	.hm-about-us-section .hausc-title{
		text-align: center;
	}
	.hm-about-us-sec-inr {
	    padding: 70px 0 60px;
	}
	.hm-about-us-sec-col-2 p {
	    font-size: 19px;
	    line-height: 1.2;
	}
	.hausc-title-2{
		margin-bottom: 20px;
	}
	.hm-about-us-sec-col-1{
		padding-left: 0;
		max-width: 100%;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.hm-about-us-sec-col-1 img{
		max-width: 167px;
		margin-left: auto;
		margin-right: auto;
	}
	.hm-new-arrivals-sec {
	    padding: 60px 0 75px 0;
	}
	.hmNewAarrivalsSlider .hm-new-arrivals-item{
		width: 100%;
	}
	.gift-ideas-sec-fea-img-bx-item{
		height: 480px;
	}
	.gift-ideas-sec-rgt{
		height: 494px;
	}
	.ift-ideas-sec-lft-btns ul{
		text-align: center;
	}
	.ift-ideas-sec-lft-btns ul li{
		padding-left: 5px!important;
		padding-right: 5px!important;
		padding-bottom: 10px!important;
	}
	.hm-happy-easter-products-cntlr ul li{
		width: 100%;
	}
	.hm-happy-easter-products-cntlr ul li .fl-product-item{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.hm-happy-easter-products-cntlr{
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.press-sec-des p {
	    font-size: 17px;
	    line-height: 24px;
	    margin-bottom: 40px;
	}
	.press-sec-des-sub-title{
		margin-bottom: 20px;
	}
	.hm-about-us-sec-col-2{
		padding-left: 15px;
	}
	.hm-our-journal-sec-grd-cntlr ul li{
		width: 100%;
	}
	.fl-blog-item{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.hmNewAarrivalsSlider .fl-product-item{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.mainBnrSlider ul.slick-dots {
	    bottom: 15px;
	}
}

@media(max-width: 479px){
	.gift-ideas-sec-fea-img-bx-item {
	    height: 340px;
	}
	.gift-ideas-sec-rgt {
	    height: 354px;
	}
	.gift-ideas-sec-fea-img-bx-item strong {
	    font-size: 18px;
	    line-height: 20px;
	    right: 20px;
	}
	.gift-ideas-title {
	    font-size: 18px;
	    line-height: 22px;
	}
	.gift-ideas-title span{
		padding-top: 15px;
	}
	.gift-ideas-sec-lft-top-con-rgt {
		padding-left: 25px;
		margin-top: 0;
	}
	.hm-happy-easter-sec-hdr-img{
		display: none;
	}
	.hm-happy-easter-sec-hdr-inr{
		padding: 50px 0 100px;
	}
	.hm-children-clothes-sec-hdr{
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.hm-about-us-sec-inr {
	    padding: 35px 0 45px;
	}
	.hm-new-arrivals-sec{
		padding-top: 50px;
	}
	.hm-press-sec-cntlr{
		padding-top: 35px;
	}
	.hm-our-journal-sec-cntlr{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.hm-happy-easter-products-cntlr {
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-left: 15px;
	    margin-right: 15px;
	    padding-top: 15px;
	}
	.hmccs-hdr-title, .hnash-title, .hausc-title, .hojs-tilte {
	    font-size: 22px;
	}
}

@media(max-width: 359px){

}