/*
--------------------
ylw-location-sec-wrp
--------------------
*/
.ylw-location-sec-wrp{
	padding-top: 40px;
}
.ylw-location-head{
	max-width: 615px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px 75px;
}
.ylw-location-head-title{
	font-size: 29px;
	line-height: 31px;
	color: #3E3935;
	font-weight: 400;
	margin-bottom: 35px;
	font-family: 'Playfair Display', serif;
	display: block;
}
.ylw-location-head p{
	font-size: 16px;
	line-height: 26px;
	color: #000;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}
/*
----------------------
ylw-location-grid-wrp
----------------------
*/
.ylw-location-grid-wrp ul li{
	padding: 0;
	padding-bottom: 135px;
}
.ylw-location-grid-wrp ul li:before{
	content: none;
}
.ylw-location-grid-lft{
	width: 60%;
	float: left;
}
.ylw-location-grid-rgt{
	width: 40%;
	float: right;
}
.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-lft{
	float: right;
}
.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-map{
	margin-left: 0;
	margin-right: -60px;
}
.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-img a{
	right: auto;
	left: 90px;
}
.ylw-location-grid-img{
	height: 500px !important;
	position: relative;
}
.ylw-location-grid-img span{
	display: block;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.ylw-location-grid-img span img{
	height: 100%;
	width: 100%;
}
.ylw-location-grid-img a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3E3935;
	background:#FFC627;
	border:2px solid#FFC627;
	padding: 20px 40px;
	position: absolute;
	right: 90px;
	bottom: 30px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-location-grid-img a:hover{
	color: #3E3935;
	border-color:#fff;
	background:#fff; 
}
.ylw-location-grid-dsc{
	padding: 18px 70px 40px 70px;
}
.ylw-location-grid-title{
	font-size: 29px;
	line-height: 31px;
	color: #3E3935;
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
	font-family: 'Playfair Display', serif;
}
.ylw-location-grid-dsc a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	color: #3E3935;
	padding-bottom: 15px;
	padding-left: 22px;
	position: relative;
}
.ylw-location-grid-dsc a i{
	position: absolute;
	left: 0;
	top: 2px;
}
.ylw-location-grid-dsc a:last-child{
	font-weight: 700;
}
.ylw-location-grid-dsc a:last-child i{
    transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
}
.ylw-location-grid-dsc a:hover{
	color: #ffc627;
}
#googlemap6,
#googlemap5,
#googlemap4,
#googlemap3,
#googlemap2,
#googlemap1{
	height: 340px;
}
.ylw-location-grid-map{
	padding: 15px 15px;
	background:#fff;
	margin-left: -60px;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
    box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
}

/*
-----------------------
ylw-shop-list-address-sec-wrp
-----------------------
*/
.ylw-shop-list-address-sec-wrp{
	padding-top: 40px;
	padding-bottom: 95px;
}
.ylw-shop-list-address-wrp,
.ylw-shop-list-address-block{
	max-width: 1115px;
	width: 100%;
	margin: 0 auto;
}
.ylw-shop-list-address-head{
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Playfair Display', serif;
	padding-bottom: 60px;
}
.ylw-shop-list-address-title{
	font-size: 29px;
	line-height: 31px;
	color: #3E3935;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	display: block;
	margin-bottom: 20px;
}
.ylw-shop-list-address-wrp ul li{
	width: 25%;
	float: left;
	padding: 0;
	padding-right: 65px;
	padding-bottom: 90px;
}
.ylw-shop-list-address-wrp ul li:nth-child(4n+1){
	clear: left;
}
.ylw-shop-list-address-wrp ul li:before{
	content: none;
}
.shop-list-address-title{
	display:block;
	font-size: 17px;
	line-height: 19px;
	color: #3E3935;
	font-weight: 400;
	padding-bottom: 17px;
	font-family: 'Playfair Display', serif;
}
.ylw-shop-list-address-dsc a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #3E3935;
	padding-bottom: 15px;
}
.ylw-shop-list-address-dsc a:last-child{
	font-weight: 700;
}
.ylw-shop-list-address-dsc a:hover{
	color: #ffc627;
}
.ylw-location-grid-fancy{
	display: none;
}
.fancybox-infobar {
    color: #FFFFFF;
    font-size: 29px;
    line-height: 31px;
    height: 44px;
    left: auto !important;
    min-width: 44px;
    padding: 0 10px;
    top: auto !important;
    bottom: 55px !important;
    right: 24.5% !important;
    font-family: 'Playfair Display', serif;
}
.fancybox-navigation .fancybox-button svg{
	display: none;
}
.fancybox-button--arrow_right:before{
    content: "";
    position: absolute;
    background: url(../images/fancybox-next.png);
    background-repeat: no-repeat;
    background-size: 16px 30px;
    width: 16px;
    height: 30px;
    left: 30px;
    top: 35px;
}
.fancybox-button--arrow_left:before{
    content: "";
    position: absolute;
    background: url(../images/fancybox-prev.png);
    background-repeat: no-repeat;
    background-size: 16px 30px;
    width: 16px;
    height: 30px;
    left: 30px;
    top: 35px;
}
.ylw-location-show-sec{
	padding-bottom: 40px;
}
.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
    display: none !important;
}
.fancybox-button--zoom,
.fancybox-button--thumbs{
	display: none !important;
	background: transparent;
}

.fancybox-toolbar {
    right: 24%;
    top: 60px;
}

.fancybox-content element.style{
    transform: none;
    width: auto !important;
    height: auto !important;
}

.fancybox-content style{
    transform: translate(-50%,-50%) !important;
    width: 980px !important;
    height: 600 !important;
    margin: 0 auto !important;
    left: 50% !important;
    top: 50% !important;
}
.fancybox-button--close{
	background: transparent;
	position: relative;
}
.fancybox-button--close:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/fancy-box-close.png);
	background-repeat: no-repeat;
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
}
.fancybox-button svg{
	display: none;
}


.fancybox-navigation .fancybox-button div {
    background: transparent;
    height: 100%;
    padding: 7px;
}

.fancybox-bg{
	background:#3E3935;
}
.fancybox-is-open .fancybox-bg {
    opacity: 1;
}

/*
-------------------
 Responsive Css
-------------------
*/

@media(max-width: 1199px){
	.ylw-location-head {
	    padding: 0 20px 60px;
	}
	.ylw-location-grid-dsc {
	    padding: 18px 50px 30px 50px;
	}
	.ylw-location-grid-wrp ul li{
	    padding-bottom: 100px;
	}
	.ylw-shop-list-address-sec-wrp {
	    padding-bottom: 80px;
	}
	.ylw-shop-list-address-wrp ul li {
	    padding-right: 40px;
	    padding-bottom: 70px;
	}
}

@media(max-width: 991px){
	.ylw-location-grid-dsc {
	    padding: 15px 30px 20px 30px;
	}
	.ylw-location-grid-wrp ul li{
	    padding-bottom: 80px;
	}
	.ylw-shop-list-address-sec-wrp {
	    padding-bottom: 60px;
	}
	.ylw-shop-list-address-wrp ul li {
	    padding-right: 20px;
	    padding-bottom: 50px;
	}
}

@media(max-width: 767px){
	.ylw-location-head {
	    padding: 0 20px 40px;
	}
	.ylw-location-grid-wrp ul li{
	    padding-bottom: 50px;
	}
	.ylw-location-grid-lft {
	    width: 100%;
	}
	.ylw-location-grid-rgt {
	    width: 100%;
	}
	.ylw-location-grid-map{
		margin-left: 0;
	}
	.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-map {
	    margin-left: 0;
	    margin-right: 0;
	}
	.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-img a {
	    left: 50px;
	}
	.ylw-location-grid-dsc {
	    padding: 25px 15px 25px 15px;
	}
	.ylw-location-grid-img a{
		right: auto;
		left: 50px;
	}
	.ylw-location-grid-img{
		height: 450px !important;
	}
	.ylw-location-head-title {
	    font-size: 27px;
	    line-height: 29px;
	    margin-bottom: 25px;
	}
	.ylw-shop-list-address-head{
		padding-bottom: 30px;
	}
	.ylw-shop-list-address-wrp ul li{
	    padding-right: 20px;
	    padding-bottom: 30px;
	    width: 33.3333%;
	}
	.ylw-shop-list-address-wrp ul li:nth-child(4n+1){
		clear: none;
	}
	.ylw-shop-list-address-wrp ul li:nth-child(3n+1){
		clear: left;
	}
	.ylw-shop-list-address-sec-wrp {
	    padding-top: 20px;
	}
	.ylw-shop-list-address-title,
	.ylw-location-grid-title {
	    font-size: 27px;
	    line-height: 29px;
	}
}

@media(max-width: 575px){
  	.ylw-location-grid-img{
		height: 400px !important;
	}
	.ylw-shop-list-address-wrp ul li {
	    width: 50%;
	}
	.ylw-shop-list-address-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.ylw-shop-list-address-wrp ul li:nth-child(2n+1){
		clear: left;
	}

}

@media(max-width: 479px){
	.ylw-location-grid-img a{
		right: auto;
		left: 30px;
	}
	.ylw-location-grid-wrp ul li:nth-child(2n+2) .ylw-location-grid-inr .ylw-location-grid-img a {
	    left: 30px;
	}
	.ylw-location-grid-img{
		height: 350px !important;
	}
	.ylw-location-head-title {
	    font-size: 25px;
	    line-height: 27px;
	}
	.ylw-shop-list-address-title,
	.ylw-location-grid-title{
	    font-size: 25px;
	    line-height: 27px;
	}
	.ylw-shop-list-address-wrp ul li {
	    padding-right: 10px;
	    padding-bottom: 20px;
	}
}

@media(max-width: 359px){

}

