/*
---------------------
 ylw-gallery-sec-wrp
---------------------
*/
.ylw-gallery-sec-wrp {
    padding-top: 42px;
    padding-bottom: 125px;
}
.ylw-lb-tabs-head-title{
	margin: 0;
	font-size: 29px;
	line-height: 31px;
	font-weight: 400;
	color: #3E3935;
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-bottom: 55px;
	display: block;
}
.ylw-lb-tabs{
	text-align: center;
	max-width: 620px;
	width: 100%;
	margin: 0 auto;
}
.ylw-lb-tabs ul{
	display: table;
	margin: 0 auto;
	padding-bottom: 60px;
}
.ylw-lb-tabs-menu li{
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	float: left;
	padding: 0 27px;
}
.ylw-lb-tabs-menu li:first-child{
	padding-left: 0;
}
.ylw-lb-tabs-menu li:last-child{
	padding-right: 0;
}
.ylw-lb-tabs-menu li:before{
	content: none;
}
.ylw-lb-tabs-menu li.active{
	font-weight: 700;
}
.ylw-lb-tabs-menu li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #3E3935;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ylw-lb-tabs-menu li a:hover{
	color: #ffc627;
}
.ylw-lb-tabs-dsc{
	padding: 0 28px;
}
.ylw-tabs{
	display: none;
}
.ylw-tabs p{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}

.ylw-gallery-grid-wrp{
	padding-top: 65px;
}
.ylw-gallery-grid-one{
	padding-bottom: 40px;
	margin: 0 -15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ylw-gallery-grid-one-img{
	text-align: center;
	padding: 0 15px;
}
.ylw-gallery-grid-three-rgt-img a,
.ylw-gallery-grid-three-lft-img a,
.ylw-gallery-grid-two-rgt-img a,
.ylw-gallery-grid-two-lft-img a,
.ylw-gallery-grid-one-img a{
	display: block;
	text-decoration: none;
}
.ylw-gallery-grid-two{
	display: flex;
	justify-content: left;
	align-items: center;
	padding-bottom: 40px;
	margin: 0 -15px;
}
.ylw-gallery-grid-two-lft-img{
	width: 60%;
	float: left;
	padding: 0 16px;
}
.ylw-gallery-grid-two-rgt-img{
	width: 40%;
	float: right;
	text-align: center;
	padding: 0 15px;
}
.ylw-gallery-grid-two-btm{
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -15px;
}
.ylw-gallery-grid-two-btm-lft {
    width: 52%;
    float: left;
    padding-left: 15px;
    padding-right: 32px;
}
.ylw-gallery-grid-two-btm-rgt {
    width: 48%;
    float: right;
    padding-left: 8px;
    padding-right: 15px;
}
.ylw-gallery-grid-two-btm-rgt-img a img,
.ylw-gallery-grid-two-btm-lft-img a img{
	width: 100%;
}

.ylw-gallery-grid-three{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
	margin: 0 -15px;
}
.ylw-gallery-grid-three-lft {
    width: 37%;
    float: left;
    text-align: center;
    padding: 0 15px;
}
.ylw-gallery-grid-three-rgt{
	width: 63%;
	float: right;
}
.ylw-gallery-grid-three-rgt-l-img {
    float: left;
    width: 53%;
    padding: 0 15px 0 10px;
}
.ylw-gallery-grid-three-rgt-r-img {
    float: right;
    width: 47%;
    padding: 0 15px 0 5px;
}
.ylw-gallery-grid-three-rgt-r-img a,
.ylw-gallery-grid-three-rgt-l-img a{
	display: block;
}


/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ylw-lb-tabs-head-title {
	    margin-bottom: 45px;
	}
	.ylw-lb-tabs ul {
	    padding-bottom: 50px;
	}
	.ylw-gallery-sec-wrp {
	    padding-bottom: 100px;
	}
}

@media(max-width: 991px){
  	.ylw-lb-tabs ul {
	    padding-bottom: 40px;
	}
	.ylw-gallery-sec-wrp {
	    padding-bottom: 90px;
	}
	.ylw-gallery-sec-wrp {
	    padding-bottom: 80px;
	}
  
}

@media(max-width: 767px){
	.ylw-lb-tabs-head-title {
	    font-size: 27px;
	    line-height: 29px;
	    margin-bottom: 35px;
	}
	.ylw-lb-tabs ul {
	    padding-bottom: 30px;
	}
	.ylw-lb-tabs-menu li {
	    padding: 0 15px;
	}
	.ylw-lb-tabs-dsc {
	    padding: 0 20px;
	}
	.ylw-gallery-sec-wrp {
	    padding-bottom: 70px;
	}
	.ylw-gallery-grid-wrp {
	    padding-top: 40px;
	    max-width: 540px;
	    width: 100%;
	    margin: 0 auto;
	}
	.ylw-gallery-grid-one,
	.ylw-gallery-grid-three,
	.ylw-gallery-grid-two-btm,
	.ylw-gallery-grid-two {
	    display: block;
	    padding-bottom: 30px;
	}
	.ylw-gallery-grid-two-lft-img {
	    width: 100%;
	    padding-bottom: 30px;
	}
	.ylw-gallery-grid-two-rgt-img {
	    width: 100%;
	}
	.ylw-gallery-grid-two-btm-lft {
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 30px;
	}
	.ylw-gallery-grid-two-btm-rgt {
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.ylw-gallery-grid-three-rgt {
	    width: 100%;
	    float: left;
	}
	.ylw-gallery-grid-three-lft {
	    width: 100%;
	    padding: 0 15px 30px;
	}
	.ylw-gallery-grid-three-rgt-l-img {
	    width: 100%;
	    padding: 0 15px 30px 15px;
	}
	.ylw-gallery-grid-three-rgt-r-img {
	    float: none;
	    width: 100%;
	    padding: 0 15px 0 15px;
	}
	.ylw-gallery-grid-three-lft-img a img,
	.ylw-gallery-grid-two-rgt-img a img,
	.ylw-gallery-grid-three-rgt-r-img a img,
	.ylw-gallery-grid-three-rgt-l-img a img{
		width: 100%;
	}
	.ylw-gallery-sec-wrp {
	    padding-bottom: 40px;
	}
}

@media(max-width: 575px){
	.ylw-lb-tabs ul {
	    padding-bottom: 25px;
	}
	.ylw-lb-tabs-menu li {
	    padding: 5px 0;
	    float: none;
	}
	.ylw-lb-tabs-head-title {
	    font-size: 25px;
	    line-height: 27px;
	    margin-bottom: 30px;
	}
	.ylw-lb-tabs-dsc {
	    padding: 0 10px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}