.page-banner{
    padding: 20px 15px 0;
    max-width: 1360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.page-banner-controller{
	position: relative;
}
.page-banner-controller{
	height: 490px;
}
.page-banner-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	width: 100%;
	height: 100%;
}

.page-banner-des{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.page-banner-title{
	font-size: 54px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	display: block;
	margin: 0;
	color: #fff;
}

/*
-------
Page looader 
-----
*/
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFC627;
    z-index:55555;
}

#status1 {
    width:154px;
    height:151px;
    position:absolute;
    left:50%; 
    top:50%;
    background-repeat:no-repeat;
    background-position:center;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#status1 img{
	-webkit-animation: preloadzoominout 2s infinite;
	animation: preloadzoominout 2s infinite;
}

@-webkit-@keyframes preloadzoominout {
    0% {
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
    50% {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
}

@keyframes preloadzoominout {
    0% {
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
    50% {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
}

/*
-------------------
 Modal Css
-------------------
*/
.modal-open .modal{
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.modal-content {
    border-radius: 0;
    border: none;
}
.modal-backdrop{
    background-color: #707070;
}
.modal-backdrop.show {
    opacity: .8;
}
.ylw-modal-con-wrap .modal-dialog {
    max-width: 685px;
    width: 100%;
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 90px !important;
    position: relative;
}
.modal-login-form button span {
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    top: 23px;
    right: 25px;
}
.ylw-modal-con-wrap .modal-login-form {
    padding: 65px 20px 80px;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}
.modal-login-form-title{
    margin: 0;
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 29px;
    line-height: 31px;
    font-weight: 400;
    color: #3E3935;
    text-align: center;
    margin-bottom: 14px;
}

.modal-login-form > span{
    display: block;
    margin-bottom: 45px;
    font-size: 12px;
    line-height: 14px;
    color: #3E3935;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
.ylw-input-field-row input[type="email"],
.ylw-input-field-row input[type="text"]{
    width: 100%;
    height: 55px;
    border:1px solid #dfdfdf;
    padding: 22px 22px;
    text-align: center;
    background:transparent;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    color: #3E3935;
}
.ylw-input-field-row input[type="text"]:focus,
.ylw-input-field-row input[type="email"]:focus{
    border-color: #bfbdbd;
}
.modal-login-form .ylw-submit-btn input[type="submit"]{
    width: 100%;
    height: 55px;
    background: #FFC627;
    font-size: 12px;
    line-height: 14px;
    color: #3E3935;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border:2px solid #FFC627;
    cursor: pointer;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-top: 10px;
}
.modal-login-form .ylw-submit-btn input[type="submit"]:hover{
    background:transparent;
    border-color: #FFC627;
    color: #FFC627;
}
.ylw-modal-logo{
    text-align: center;
    padding-top: 40px;
}
.ylw-modal-logo a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
}


.ylw-input-field-row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3E3935;
  opacity: 1;
}
.ylw-input-field-row input::-moz-placeholder { /* Firefox 19+ */
  color: #3E3935;
  opacity: 1;
}
.ylw-input-field-row input:-ms-input-placeholder { /* IE 10+ */
  color: #3E3935;
  opacity: 1;
}
.ylw-input-field-row input:-moz-placeholder { /* Firefox 18- */
  color: #3E3935;
  opacity: 1;
}


/*---sitemap----*/

.sitemap-cntlr{
    padding: 100px 0;
}
.sitemap-cntlr h2{
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 2px solid #FFC627;
    padding-bottom: 10px;
}

.sitemap-cntlr ul li{
    text-transform: capitalize;
    font-size: 22px;
    padding-bottom: 20px;
}
.sitemap-cntlr ul li a{
    color: inherit;
}
.sitemap-cntlr ul li a:focus{
    text-decoration: underline;
}


#ui-datepicker-div{
    z-index: 50!important;
}

@media(max-width: 767px){
    .page-banner-title{
        font-size: 45px;
    }
}
@media(max-width: 575px){
    .page-banner-title{
        font-size: 35px;
    }
    .page-banner-controller {
        height: 405px;
    }
}