
.ylw-press-content-sec{
	padding-top: 40px;
	padding-bottom: 35px;
}
.ylw-press-content-sec-inr{
	text-align: center;
}
.ylw-press-cnt-title{
	display: block;
	font-size: 29px;
	line-height: 1;
	color: #3E3935;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 400;
}
.ylw-press-content-sec-inr p{
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.ylw-press-grid-sec-inr ul{
	margin-left: -30px;
	margin-right: -30px;
}
.ylw-press-grid-sec-inr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 80px;
}
.ylw-press-grid-sec-inr ul li:nth-child(3n+1){
	clear: left;
}
.ylw-press-grid-sec-inr ul li:last-child,
.ylw-press-grid-sec-inr ul li:nth-child(13),
.ylw-press-grid-sec-inr ul li:nth-child(14){
	padding-bottom: 45px;
}


.ylw-press-grid-item-des{
	text-align: center;
	padding-top: 15px;
}
.ylw-press-grid-item-des-title{
	display: block;
	font-size: 18px;
	color: #3E3935;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: capitalize;
}
.ylw-press-grid-item-des-title a{
	color: #3E3935;
}
.ylw-press-grid-item-des-title a:hover{
	color: #FFC627;
}
.ylw-press-grid-item-des span{
	display: block;
	font-size: 12px;
	color: #3E3935;
	font-weight: 500;
	text-transform: uppercase;
}
.ylw-press-grid-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.ylw-press-grid-item-img{
	min-height: 400px;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	transition: all 0.5s;
}
.ylw-press-grid-item:hover .ylw-press-grid-item-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}



.ylw-press-pagination{
	padding-bottom: 110px;
}
.ylw-press-pagi-inr{
	text-align: center;
}
.ylw-press-pagi-inr ul li{
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}
.ylw-press-pagi-inr ul li a.page-numbers,
.ylw-press-pagi-inr ul li span{
	font-size: 15px;
	color: #3E3935;
}
.ylw-press-pagi-inr ul li span.current{
	color: #3E3935;
	font-weight: 700;
}
.ylw-press-pagi-inr ul li a.page-numbers:hover{
	color: #3E3935;
	font-size: 15px;
	opacity: .7;
}

.ylw-press-select{
	text-align: right;
	padding-bottom: 22px;
}
.bootstrap-select>.dropdown-toggle {
    border: 1px solid #E0E0E0;
    text-transform: uppercase;
    font-size: 11px;
    color: #3E3935;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 0;
}
.ylw-press-grid-sec .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 125px;
}
.dropdown-toggle {
    min-height: 30px;
}
.dropdown-toggle::before {
    content: "\f067"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #55504d;
    font-size: 11px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 10px;
    line-height: 11px;
    height: 11px;
    width: 11px;
}
.bootstrap-select.show .dropdown-toggle::before{
	content: "\f068"!important;
}


.dropdown-menu li{
	width: 100%!important;
	padding-bottom: 10px!important;
	margin: 0!important;
	padding: 0!important;
	list-style: none!important;
}
.dropdown-menu li:before{
	content: none;
}




@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.ylw-press-cnt-title {
	    margin-bottom: 30px;
	}
	.ylw-press-grid-sec-inr ul {
	    margin-left: -25px;
	    margin-right: -25px;
	}
	.ylw-press-grid-sec-inr ul li {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.ylw-press-pagination {
	    padding-bottom: 100px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ylw-press-content-sec {
	    padding-top: 35px;
	    padding-bottom: 30px;
	}
	.ylw-press-cnt-title {
	    margin-bottom: 25px;
	    font-size: 25px;
	}
	.ylw-press-grid-sec-inr ul {
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.ylw-press-grid-sec-inr ul li {
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 70px;
	}
	.ylw-press-grid-item-des-title {
	    font-size: 15px;
	    margin-bottom: 5px;
	}
	.ylw-press-pagination {
	    padding-bottom: 80px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ylw-press-content-sec {
	    padding-bottom: 20px;
	}
	.ylw-press-cnt-title {
	    margin-bottom: 20px;
	}
	.ylw-press-grid-sec-inr ul li {
	    width: 50%;
	    padding-bottom: 55px;
	}
	.ylw-press-grid-sec-inr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.ylw-press-grid-sec-inr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.ylw-press-grid-sec-inr ul li:nth-child(13), 
	.ylw-press-grid-sec-inr ul li:nth-child(14) {
	    padding-bottom: 55px;
	}
	.ylw-press-content-sec-inr p br{
		display: none;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ylw-press-cnt-title {
	    margin-bottom: 15px;
	    font-size: 20px;
	}
	.ylw-press-content-sec-inr p br{
		display: none;
	}
	.ylw-press-grid-sec-inr ul {
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.ylw-press-grid-sec-inr ul li {
	    width: 100%;
	    padding-left: 0px;
    	padding-right: 0px;
    	padding-bottom: 50px;
	}
	.ylw-press-grid-sec-inr ul li:last-child {
	    padding-bottom: 50px;
	}
	.ylw-press-grid-item{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}
	.ylw-press-pagination {
	    padding-bottom: 60px;
	}
	.ylw-press-content-sec {
	    padding-bottom: 15px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}