.alg-wc-wl-btn-wrapper {
    clear: both;
    margin-top: 30px;
    display: inline-block;
    float: left;
}
.sharewith {
    float: left;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}
.outofstock .price-wrapp {
    display: none;
}
.viewpage {
    clear: both;;
}
.product-songle-breadcrumbs-sec{
	padding: 40px 0 35px 30px;
}
.product-single-con-wrap{
	padding-bottom: 85px;
}

.pro-single-monsters-sec-cntlr{
	background: #4F9CC5;
	padding: 60px 0 40px;
	position: relative;
}
.pro-single-monsters-sec-cntlr .block-1260{
	position: relative;
	z-index: 2;
}
.monsters-img-02{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.block-1260{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}
.pro-single-monsters-sec-cntlr .block-1230{
	display: flex;
	align-items: center;
}
.pro-single-monsters-sec-fea-img{
	float: left;
	width: 35%;
	padding-right: 20px;
}

.pro-single-monsters-sec-des{
	width: 65%;
	float: left;
	color: #fff;
}
.psmsd-title-1{
	display: block;
	font-weight: 700;
	color: #fff;
	margin: 0 0 20px 0;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 35px;
	line-height: 1;
}
.psmsd-title-2{
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	color: #fff;
	margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.pro-single-monsters-sec-des p{
	margin-bottom: 70px;
	font-size: 16px;
	line-height: 26px;
}

.pro-single-monsters-sec-des-inr{
	max-width: 512px;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.monsters-img-02 {
	    max-width: 200px;
	}

}

@media(max-width: 991px){
	.pro-single-monsters-sec-cntlr{
		padding-bottom: 100px;
	}
	
}

@media(max-width: 767px){
	.pro-single-monsters-sec-fea-img{
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.pro-single-monsters-sec-des{
		width: 100%;
		float: none;
		padding-left: 20px;
		padding-right: 15px;
	}
	.monsters-img-02 {
	    max-width: 133px;
	}
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){
	.pro-single-monsters-sec-cntlr {
	    padding-bottom: 120px;
	}
	.monsters-img-02 {
	    max-width: 100px;
	}

}

@media(max-width: 359px){

}

