a.button.yith-wcqv-button,
a.yith-wcqv-button.qvicon {
    display: none !important;
}
.product-list-page-con{
	padding: 40px 0 130px;
}
.fl-page-entry-hdr{
	text-align: center;
	padding-bottom: 30px;
}
.fl-page-entry-hdr-title{
	display: block;
	font-weight: 700;
	font-size: 29px;
	line-height: 35px;
	color: #3E3935;
	margin: 0 0 15px 0;
	font-family: 'Playfair Display', serif;
}

.filter-select .ylw-press-select{
	padding-bottom: 13px!important;
}

.filter-select .ylw-press-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	max-width: 127px;
}

.fl-total-products-number{
	display: block;
	font-size: 12px;
	line-height: 14px;
}
.fl-breadcrumbs{
	padding-bottom: 20px;
}
.fl-breadcrumbs ul li,
.fl-breadcrumbs ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.fl-breadcrumbs ul li a:hover{
	color: #FFC627;
}
.fl-breadcrumbs ul{
	font-size: 12px;
	line-height: 1;
}
.fl-breadcrumbs ul li{
	padding: 0 5px;
	position: relative;
}
.fl-breadcrumbs ul li.fl-home-icon{
	padding-left: 55px;
}
.fl-breadcrumbs ul li.fl-home-icon:before{
	content: ""!important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
	background: url(../images/back-icon.png);
	width: 42px;
	height: 9px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.fl-breadcrumbs ul li a{
	color: #3E3935;
}
.fl-breadcrumbs ul li:not(:last-child):after {
    content: "\f105"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #6a6663;
    font-size: 12px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: -4px;
    line-height: 1;
    margin-top: .2px;
}
.fl-breadcrumbs ul li.active{
	font-weight: 700;
}


.fl-product-list-cntlr ul{
	margin: 0 -10px;
}
.fl-product-list-cntlr ul li{
	float: left;
	width: 33.3333%;
	padding: 0 10px 20px;
}
.fl-product-list-cntlr ul li:nth-child(3n+1){
	clear: left;
}


.fl-pagi-pagi-ctlr ul,
.woocommerce .fl-pagi-ctlr ul.page-numbers,
.fl-pagi-ctlr ul.page-numbers{
	text-align: center;
	padding-top: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fl-pagi-pagi-ctlr ul li,
.woocommerce .fl-pagi-ctlr ul.page-numbers li,
.fl-pagi-ctlr ul.page-numbers li{
	display: inline-block;
}
/*.fl-pagi-pagi-ctlr ul.page-numbers li a,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a{
	display: inline-block;
	vertical-align: baseline;
}*/
.fl-pagi-pagi-ctlr ul.page-numbers li a:hover,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a:hover,
.fl-pagi-ctlr ul.page-numbers li a:hover{
	color: #FFC627;
}
.fl-pagi-pagi-ctlr ul.page-numbers li,
.woocommerce .fl-pagi-ctlr ul.page-numbers li,
.fl-pagi-ctlr ul.page-numbers li{
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a,
.fl-pagi-pagi-ctlr ul.page-numbers li span,
.woocommerce .fl-pagi-ctlr ul.page-numbers li span,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a,
.fl-pagi-ctlr ul.page-numbers li a,
.fl-pagi-ctlr ul.page-numbers li span{
	color: #3E3935;
}

.fl-pagi-pagi-ctlr ul.page-numbers li .current,
.woocommerce .fl-pagi-ctlr ul.page-numbers .current,
.fl-pagi-ctlr ul.page-numbers .current{
	font-weight: 700;
	background: transparent;
	color: #3E3935;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.prev,
.fl-pagi-pagi-ctlr ul.page-numbers li a.next,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a.prev,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a.next,
.fl-pagi-ctlr ul.page-numbers li a.next,
.fl-pagi-ctlr ul.page-numbers li a.prev{
	width: 42px;
	height: 9px;
	text-indent: -9999px;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.prev,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a.prev,
.fl-pagi-ctlr ul.page-numbers li a.prev{
	background: url(../images/fl-pagi-prev.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.next,
.woocommerce .fl-pagi-ctlr ul.page-numbers li a.next,
.fl-pagi-ctlr ul.page-numbers li a.next{
	background: url(../images/fl-pagi-next.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.woocommerce nav.woocommerce-pagination ul,
nav.woocommerce-pagination ul{
	border: none;
}

.fl-sidebar-cntlr{
	padding: 0 45px 0 30px;
}

.fl-my-slection{
	background: #F5F4F2;
	padding: 15px 15px 25px;
	margin-bottom: 30px;
}
.fl-my-slection-hdr{
	display: flex;
	align-items: center;
}
.delete-all-btn{
	margin-left: auto;
}
.fl-my-slection-hdr{
	color: #3E3935;
	padding-bottom: 20px;
}

.fl-my-slection-hdr label{
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
}
.delete-all-btn{
	cursor: pointer;
	font-size: 11px;
	line-height: 1;
}

.fl-my-slect-items ul li{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}
.fl-my-slect-items ul li:last-child{
	margin-bottom: 0;
}
.fl-my-slect-items ul li span{
	margin-left: auto;
	padding-left: 10px;
	color: #3E3935;
	line-height: 1;
}

.fl-my-slect-items ul li label{
	font-size: 12px;
	line-height: 1;
	color: #3E3935;
	margin: 0;
}
.fl-my-slect-items ul li label a{
	color: inherit;
}
.fl-wedget{
	padding-left: 15px;
	margin-bottom: 35px;
}
.fl-wedget-title,
.fl-sidebar-cntlr .wpf_item .wpf_item_name{
	position: relative;
	font-weight: 600;
	display: block;
	padding: 0 50px 0 0;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
	border: none;
}

.fl-wedget-title:after,
.fl-sidebar-cntlr .wpf_item .wpf_item_name:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/plus-icon-2.png);
	width: 14px;
	height: 13px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.fl-sidebar-cntlr .wpf_item .wpf_item_name.hh-accordion-active:after{
	background: url(../images/minus-icon-2.png);
	width: 13px;
	height: 1px;
}
.fl-sidebar-cntlr .wpf_items_wrapper ul.wpf_column_vertical li{
	margin-right: 0;
}
.woocommerce .woocommerce-ordering, 
.woocommerce-page .woocommerce-ordering {
    float: none !important;
}

.fl-product-item-fea-img a img{
	margin: 0!important;
}
.woocommerce span.onsale{
	background: #FFC627!important;
}

.filter-check-row{
	position: relative;
	padding: 0 15px 15px 13px;
	font-size: 12px;
	line-height: 14px;
    margin-left: 6px;
}
.catalogue-sidebar .filter-check-row{
	 margin-right: 13px;
}
.catalogue-sidebar .filter-check-row span.price-value{
	top: 3px;
}
.filter-check-row input[type="checkbox"],
.filter-check-row input[type="radio"]{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	left: 0;
	z-index: 1;
}
.filter-check-row span.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 0;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-check-row input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-check-row .checkmark::after {
	left: -1px;
	top: -1px;
	right: -1px;
	bottom: -1px;
	position: absolute;
	border: solid #000;
	border: 4px solid #ffc627;
	z-index: 2;
}
.filter-check-row span.price-value {
	float: right;
	color: #808080;
	position: absolute;
	right: 0;
	font-size: 12px;
}
.filter-check-row span.checkmark{
	padding-left: 0px;
}
.filter-check-row > label{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-weight: 600;
	color: #3E3935;
}

.filter-check-row input[type="checkbox"],
.filter-check-row input[type="radio"]{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #808080;
}


/*checkmark-2*/
.filter-check-row-2-cntlr{
	margin: 0 -4px;
}
.filter-check-row-2{
	width: 44px;
	height: 44px;
	position: relative;
	margin: 0 4px 5px;
	display: inline-block;
	vertical-align: baseline;
}
.checkmark-2{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	border: 1px solid #C4C4C4;
	border-radius: 100% 100%;
	z-index: 2;
}
.filter-check-row-2 input[type="checkbox"]{
	border-radius: 100% 100%;
	background: transparent;
	border: none;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
}
.filter-check-row-2 span i{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	border-radius: 100% 100%;
}

.filter-check-row-2 input:checked ~ .checkmark-2{
   border-color: #3E3935;
}



.product-list-page-con .offer .fl-product-regular-price{
	color: #FF0045;
}
.fl-sidebar-cntlr ul li:before {
    background: transparent;
    position: relative !important;
}


/*extra */


.fl-sidebar-cntlr .wpf_item_count{
	float: right;
	background: transparent;
	float: right;
    color: #808080;
    font-size: 12px;
    padding: 0;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
.fl-sidebar-cntlr .wpf_item_count:before,
.fl-sidebar-cntlr .wpf_item_count:after{
	content: "";
	position: absolute;
	letter-spacing: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: -1px;
}
.fl-sidebar-cntlr .wpf_item_count:before{
	content: "(";
	left: 0;
}
.fl-sidebar-cntlr .wpf_item_count:after{
	content: ")";
	right: 0;
}

.fl-sidebar-cntlr .wpf_item input[type="checkbox"] {
    width: 14px;
    height: 14px;
    border: 1px solid #808080;
    margin-right: 0;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 3px;
}
.fl-sidebar-cntlr .wpf_item label{
	display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: #3E3935;
}
.fl-sidebar-cntlr .wpf_items_wrapper ul.wpf_column_vertical li{
	padding-left: 5px;
	margin-bottom: 10px;
}

.fl-sidebar-cntlr .wpf_hide_text li>input:checked+label>i:after, 
.fl-sidebar-cntlr .wpf_item input[type="checkbox"]:checked:before{
	content: ""!important;
	left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    position: absolute;
    border: solid #000;
    border: 4px solid #ffc627;
    z-index: 2;
}
.fl-sidebar-cntlr .wpf_item.wpf_item_pa_color ul li{
	width: 44px;
    height: 44px;
    position: relative;
    margin: 0 4px 5px!important;
    padding: 0!important;
    display: inline-block;
    vertical-align: baseline;
    padding: 1px;
    border: 1px solid #C4C4C4;
	border-radius: 100% 100%;
}
.fl-sidebar-cntlr .wpf_item.wpf_item_pa_color ul li label{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	border-radius: 100% 100%;
	z-index: 2;
	text-indent: -9999px;
}

.fl-sidebar-cntlr .wpf_item.wpf_item_pa_color input[type="checkbox"] {
    border-radius: 100% 100%;
    background: transparent;
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: transparent!important;
}
.fl-product-variable-title{
	font-size: 11px;
	line-height: 1;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.fl-sidebar-cntlr {
	    padding: 0 20px 0 0;
	}
	.woocommerce .fl-pagi-ctlr ul.page-numbers{
		padding-top: 50px;
	}
	.product-list-page-con{
		padding-bottom: 100px;
	}
	.fl-pagi-pagi-ctlr ul{
		padding-top: 100px;
	}

}

@media(max-width: 991px){
	
	.product-list-page-con {
	    padding-bottom: 70px;
	}
}
@media(max-width: 767px){
	.product-list-page-con {
	    padding-bottom: 50px;
	}

}
@media(max-width: 639px){
	.fl-product-list-cntlr ul li:nth-child(3n+1) {
	    clear: initial;
	}
	.fl-product-list-cntlr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.fl-product-list-cntlr ul li{
		width: 50%!important;
	}

}

@media(max-width: 575px){
	.fl-product-list-cntlr ul li {
	    width: 100%!important;
	}
	.fl-product-list-cntlr ul li .fl-product-item{
		margin-left: auto;
		margin-right: auto;
		max-width: 350px;
		width: 100%;
	}
	.fl-pagi-pagi-ctlr ul {
	    padding-top: 50px;
	}
	.woocommerce .fl-pagi-ctlr ul.page-numbers {
	    padding-top: 10px;
	}
	.fl-breadcrumbs ul li.fl-home-icon {
	    padding-left: 0;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}