.alg-wc-wl-btn-wrapper {
    clear: both;
    margin-top: 30px;
    display: inline-block;
    float: left;
}
.sharewith {
    float: left;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}
.outofstock .price-wrapp {
    display: none;
}
.viewpage {
    clear: both;
}
.product-songle-breadcrumbs-sec{
	padding: 40px 0 35px 30px;
}
.product-single-con-wrap{
	padding-bottom: 85px;
}

.pro-single-monsters-sec-cntlr{
	background: #4F9CC5;
	padding: 60px 0 40px;
	position: relative;
}
.pro-single-monsters-sec-cntlr .block-1260{
	position: relative;
	z-index: 2;
}
.monsters-img-02{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.block-1260{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}
.pro-single-monsters-sec-cntlr .block-1230{
	display: flex;
	align-items: center;
}
.pro-single-monsters-sec-fea-img{
	float: left;
	width: 35%;
	padding-right: 20px;
}

.pro-single-monsters-sec-des{
	width: 65%;
	float: left;
	color: #fff;
	padding-right: 15px;
}
.psmsd-title-1{
	display: block;
	font-weight: 700;
	color: #fff;
	margin: 0 0 20px 0;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 35px;
	line-height: 1;
}
.psmsd-title-2{
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	color: #fff;
	margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.pro-single-monsters-sec-des p{
	margin-bottom: 70px;
	font-size: 16px;
	line-height: 26px;
}

.pro-single-monsters-sec-des-inr{
	max-width: 512px;
}

.woocommerce div.product .product_title{
	font-size: 29px;
	line-height: 1;
}
.summary.entry-summary > p{
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}
.summary.entry-summary .faq-accordion-title{
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    background: transparent!important;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.summary.entry-summary span.backorders {
    color: green;
    margin-bottom: 25px;
    display: block;
}


.summary.entry-summary .out-of-stock {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
}
.free-text > p{
	margin-bottom: 30px;
}
.wc-accordion{
	padding-bottom: 20px;
}
.faq-accordion-des{
	display: none;
}

.single-product .quantity{
	width: 96px;
	height: 55px;
	border: 1px solid #DFDFDF;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: 15px!important;
}
/*.single-product .quantity:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/polygon-down.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 9px;
	right: 10px;
}
.single-product .quantity .input-text.qty.text{
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
	-webkit-appearance: none!important;
	-ms-appearance: none!important;
	appearance: none!important;
}*/
.single-product .quantity label{
	margin-bottom: 0;
}
.woocommerce .summary.entry-summary button.single_add_to_cart_button.button.alt{
	background: #FFC627!important;
	color: #3E3935!important;
	max-width: 215px;
	width: 100%;
	height: 55px;
	border-radius: 0!important;
	border-color: #FFC627!important;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700!important;
	border: 2px solid #FFC627!important;
}
.woocommerce .summary.entry-summary button.single_add_to_cart_button.button.alt:hover{
	background: transparent!important;
	color: #FFC627!important;
}
.woocommerce  button.single_add_to_cart_button.button.alt:hover{
	color: #FFC627!important;
}
.woocommerce button.alg-wc-wl-btn.remove.alg-wc-wl-toggle-btn,
.woocommerce .summary.entry-summary button.button{
	background: transparent!important;
	color: #3E3935!important;
	font-weight: 400!important;
	font-size: 12px;
	line-height: 1;
	display: flex;
	align-items: center;
	border: none!important;
	padding: 0!important;
}
.woocommerce button.alg-wc-wl-btn.remove.alg-wc-wl-toggle-btn i,
.woocommerce .summary.entry-summary button.button i{
	width: 40px;
	height: 40px;
	background: #CCCCCC;
	border-radius: 100% 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.woocommerce .summary.entry-summary .alg-wc-wl-btn.add .alg-wc-wl-view-state-add{
	display: flex!important;
	align-items: center!important;
}

.summary.entry-summary .sharewith{
	margin-top: 0;
	margin-left: auto;
	font-size: 11px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	color: #3E3935;
}
body.single.single-product .summary.entry-summary .viewpage{
	display: none!important;
}
.yith-quick-view.yith-modal.slide-in  .yith-wcqv-view-details.button,
.yith-quick-view.yith-modal.slide-in .product_meta{
	display: none!important;
}
.viewpage{
	text-align: center;
}
.viewpage a{
	font-size: 11px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 6px solid #FFC627!important;
	display: inline-block;
	vertical-align: baseline;
	color: #3E3935!important;
}
.viewpage a:hover{
	border-color: #3E3935!important;
}
.yith-quick-view-content.woocommerce div.summary .price del{
	font-weight: 400!important;
}

.free-text:after,
.free-text:before{
	content: "";
	display: table;
	clear: both;
}
.summary.entry-summary .sharewith{
	float: right;
	margin-top: 46px;
}
.summary.entry-summary .alg-wc-wl-btn.remove .alg-wc-wl-view-state-remove {
    display: flex;
    align-items: center;
}
.summary.entry-summary .price-wrapp{
	border-bottom: 1px solid #D2D2D2;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.summary.entry-summary table.variations tbody tr td{
	width: 100%!important;
	display: block;
}
.woocommerce .summary.entry-summary  .quantity .qty{
	font-weight: 700!important;
}
.woocommerce .summary.entry-summary .price-wrapp del{
	text-decoration: line-through;
    font-weight: 500;
    padding-right: 5px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 15px;
    line-height: 1;
}
.woocommerce .summary.entry-summary .price-wrapp ins{
 	font-size: 15px;
    line-height: 1;
    font-weight: 700;
}
.woocommerce .product-single-con-inr span.onsale{
	left: 109px;
}
.single-pro-lft-con{
	float: left;
	width: 65%;
	padding-right: 70px;
}
.woocommerce div.product div.summary{
	float: right;
	width: 35%;
}

.summary.entry-summary .tawcvs-swatches .swatch-color{
	width: 38px;
	height: 38px;
}

.summary.entry-summary .tawcvs-swatches{
	padding-left: 0;
	padding-right: 0;
}
.summary.entry-summary .tawcvs-swatches{
	display: flex;
	align-items: center;
}
.summary.entry-summary .tawcvs-swatches:after,
.summary.entry-summary .tawcvs-swatches:before{
	content: "";
	clear:both;
	display: table;
}

.summary.entry-summary .tawcvs-swatches .swatch-label{
	width: 54px;
	height: 38px;
	border: 1px solid #3E3935;
	border-top: 2px solid #3E3935;
	border-bottom: 2px solid #3E3935;
	border-radius: 0;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	color: #3E3935;
}
.summary.entry-summary .tawcvs-swatches .swatch-label:first-child{
	border-left: 2px solid #3E3935;
}
.summary.entry-summary .tawcvs-swatches .swatch-label:last-child{
	border-right: 2px solid #3E3935;
}
.summary.entry-summary .tawcvs-swatches .swatch-label.selected{
	background: #3E3935;
	color: #FFC627;
	font-weight: 700;
}
.product-slider-wrp{
	position: relative;
	padding-left: 100px;
}
.thumbSlider-wrp{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	max-width: 70px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;

}
.bigViewSlider-item img{
	width: 100%;
}
.thumbSlider-wrp-innr-con,{
	width: 100%;
	height: 100%;
}
/*.thumbSlider{
	height: 100%;
}*/

.thumbSlider-arrows .leftArrow{
	margin-bottom: 20px;
	text-align: center;
	display: block;
	cursor: pointer;
}
.thumbSlider-arrows .rightArrow{
	margin-top: 15px;
	text-align: center;
	display: block;
	cursor: pointer;
}
.thumbSlider-item-img i{
	display: block;
	position: relative;
}

.thumbSlider .slick-current .thumbSlider-item img{
	border: 3px solid #ffc627;
}

.woocommerce div.product form.cart div.quantity{
	display: flex;
	align-items: center;
}
.yith-quick-view-content .product:after,
.yith-quick-view-content .product:before{
	content: "";
	clear: both;
	display: table;
}
.yith-quick-view-content .images{
	float: left;
    width: 65%!important;
    padding-right: 30px!important;
    padding-left: 90px;
	position: relative;
}

.yith-quick-view.yith-modal .yith-quick-view-content div.images{
	width: 65%!important;
}
.yith-quick-view.yith-modal .yith-quick-view-content div.summary{
	width: 35%;
	float: left;
}
.yith-quick-view-thumbs{
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 15px;
	max-width: 65px;
	width: 100%;
}
.yith-quick-view-content div.images .yith-quick-view-thumbs div.active{
	border: 3px solid #ffc627!important;
}
.yith-quick-view-content div.images .yith-quick-view-thumbs div{
	border: none!important;
}
.yith-quick-view-content .product_title.entry-title{
	font-family: 'Playfair Display', serif!important;
	font-size: 29px!important;
	line-height: 1!important;
	margin-bottom: 15px!important;
	font-weight: 400!important;
	text-transform: capitalize!important;
}
.yith-quick-view-content.woocommerce div.summary .price{
	font-size: 15px!important;
	line-height: 1!important;
	font-weight: 700!important;

}
.yith-quick-view-content.woocommerce div.summary .price del{
	font-size: 15px!important;
	line-height: 1!important;
	font-weight: 400!important;
	text-decoration: line-through!important;
	color: #3E3935!important;
	opacity: 1!important;
}
.yith-quick-view-content.woocommerce span.onsale {
    top: 0px!important;
    left: 71px!important;
}
.yith-quick-view-content.woocommerce div.summary .price del span{
	color: inherit!important;
}
.product_meta span.sku_wrapper{
	display: block;
}
.posted_in a{
	color: #FFC627!important;
}
.single_variation_wrap .product_meta .posted_in{
	display: block;
}
.yith-quick-view .yith-quick-view-close{
	background: url(../images/modal-close-icon.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	text-indent: -99999px;
}
.yith-quick-view .yith-wcqv-head{
	right: 15px;
	top: 15px;
}

.woocommerce div.product form.cart .button{
	float: none;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.monsters-img-02{
		max-width: 280px;
	}
}

@media(max-width: 1199px){
	.monsters-img-02 {
	    max-width: 190px;
	}
	.single-pro-lft-con {
	    width: 60%;
	    padding-right: 30px;
	}
	.woocommerce div.product div.summary {
	    width: 40%;
	}
}

@media(max-width: 991px){
	.pro-single-monsters-sec-cntlr{
		padding-bottom: 100px;
	}
	.woocommerce div.product div.summary {
	    width: 100%;
	    max-width: 700px;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	}
	.single-pro-lft-con {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 40px;
	    max-width: 600px;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	}
	/*.product-slider-wrp{
		padding-left: 0;
	}
	.thumbSlider-wrp{
		position: static;*/
	}
	.product-songle-breadcrumbs-sec{
		padding-left: 0;
	}
	.woocommerce .summary.entry-summary button.single_add_to_cart_button.button.alt{
		max-width: 190px;
	}
	.yith-quick-view .woocommerce div.product div.images{
		padding-right: 20px!important;
	}
	.woocommerce .product-single-con-inr span.onsale {
	    left: 50%;
	    transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    top: -20px;
	}

	.woocommerce .yith-quick-view-content div.product form.cart div.quantity{
		margin-bottom: 15px;
	}
}

@media(max-width: 767px){
	.pro-single-monsters-sec-fea-img{
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.pro-single-monsters-sec-des{
		width: 100%;
		float: none;
		padding-left: 20px;
		padding-right: 15px;
	}
	.monsters-img-02 {
	    max-width: 133px;
	}
	.yith-quick-view.yith-modal .yith-quick-view-content div.images{
		width: 100%!important;
	}
	.yith-quick-view-content .product_title.entry-title{
		font-size: 27px!important;
	}
	.monsters-img-02 {
	    max-width: 82px;
	}

}

@media(max-width: 639px){
	.pro-single-monsters-sec-cntlr {
	    padding-bottom: 120px;
	}
	.monsters-img-02 {
	    max-width: 100px;
	}
	.product-slider-wrp {
	    padding-left: 85px;
	}
	.pro-single-monsters-sec-des p{
		margin-bottom: 35px;
	}

}
@media(max-width: 575px){
	.woocommerce div.product .product_title {
	    font-size: 25px;
	}
	.woocommerce div.product form.cart div.quantity{
		float: none;
		margin-bottom: 20px;
	}
	.woocommerce div.product form.cart .button{
		float: none;
	}
	.summary.entry-summary .sharewith,
	.alg-wc-wl-btn-wrapper{
		float: none;
		width: 100%;
	}
	.product-single-con-wrap {
	    padding-bottom: 55px;
	}
	.woocommerce.single-product div.product form.cart{
		margin-bottom: 0;
	}
	.summary.entry-summary .sharewith{
		margin-top: 0;
	}
	.yith-quick-view-content .product_title.entry-title{
		font-size: 25px!important;
	}
	.yith-quick-view-content .images{
		padding-left: 75px;
	}
	.psmsd-title-1{
		font-size: 28px;
	}
	.pro-single-monsters-sec-des p{
		font-size: 15px;
	}
}

@media(max-width: 479px){
	.pro-single-monsters-sec-fea-img {
	    width: 31%;
	    padding-right: 10px;
	}


}

@media(max-width: 359px){

}

