/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #3E3935;
}
h1{
	font-size: 35px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 29px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 12px;
}