@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 16px;
	}
	h6{
		font-size: 12px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	ul.slick-dots li{
		width: 10px;
		height: 10px;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 25px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 16px;
	}
	h6{
		font-size: 12px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 25px;
	}
	h3{
		font-size: 23px;
	}
	h4{
		font-size: 18px;
	}
	h5{
		font-size: 16px;
	}
	h6{
		font-size: 12px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}